###############################################################################
# Constraint file (.pcf) to define the interface of 64CH system  implemented  #
# in IC40LP8K FPGA (ICE40LP8K-CM81)					   			          #
###############################################################################

# BANK 0
set_io --warn-noport generated_signal B8

# BANK 1
set_io --warn-noport RST_N A7   

set_io --warn-noport SEL A9

set_io --warn-noport SDI A8

set_io --warn-noport SDO_signal_out H9

set_io --warn-noport CLK_uC A6		// Reloj 


# BANK 3
set_io --warn-noport CLK B2		// Reloj 



