###############################################################################
# Constraint file (.pcf) to define the interface of 64CH system  implemented  #
# in IC40LP8K FPGA (ICE40LP8K-CM81)					   			          #
###############################################################################

# BANK 0
set_io --warn-noport generated_signal B8

# BANK 1
set_io --warn-noport RST_N C9

set_io --warn-noport enDin A9


# BANK 3
set_io --warn-noport CLK B2		// Reloj por defecto --> 16MHz



