# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Mar 20 2025 13:11:29

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 4
set_io RST_N A7
set_io SDI A8
set_io SDO_signal_out H9
set_io SEL A9
set_io CLK_uC A6

set_io s15 C2
set_io s14 D2
set_io s13 E2
set_io s12 H1