set_location RST_N_ibuf_RNIBJGC 1 4 7 # SB_LUT4 (LogicCell: RST_N_ibuf_RNIBJGC_LC_0)
set_location config_register_latched_dec_inst1.DYNSR_RNIQ2U9[15] 1 13 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR_RNIQ2U9[15]_LC_1)
set_location config_register_latched_dec_inst1.DYNSR_cnv[0] 1 14 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR_cnv[0]_LC_2)
set_location config_register_latched_dec_inst1.STATSR_cnv[0] 1 14 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR_cnv[0]_LC_3)
set_location fsm_ctrl_inst1.MOSI_RNO 1 16 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.MOSI_LC_4)
set_location fsm_ctrl_inst1.MOSI 1 16 0 # SB_DFFR (LogicCell: fsm_ctrl_inst1.MOSI_LC_4)
set_location fsm_ctrl_inst1.SCLK_RNO 1 14 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.SCLK_LC_5)
set_location fsm_ctrl_inst1.SCLK 1 14 3 # SB_DFFR (LogicCell: fsm_ctrl_inst1.SCLK_LC_5)
set_location fsm_ctrl_inst1.SEL_RNO 1 14 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.SEL_LC_6)
set_location fsm_ctrl_inst1.SEL 1 14 1 # SB_DFFS (LogicCell: fsm_ctrl_inst1.SEL_LC_6)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[1] 1 12 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[1]_LC_7)
set_location fsm_ctrl_inst1.bit_sequence_din[1] 1 12 0 # SB_DFFR (LogicCell: fsm_ctrl_inst1.bit_sequence_din[1]_LC_7)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[10] 1 16 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[10]_LC_8)
set_location fsm_ctrl_inst1.bit_sequence_din[10] 1 16 6 # SB_DFFR (LogicCell: fsm_ctrl_inst1.bit_sequence_din[10]_LC_8)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[11] 1 16 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[11]_LC_9)
set_location fsm_ctrl_inst1.bit_sequence_din[11] 1 16 5 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[11]_LC_9)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[12] 1 16 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[12]_LC_10)
set_location fsm_ctrl_inst1.bit_sequence_din[12] 1 16 4 # SB_DFFR (LogicCell: fsm_ctrl_inst1.bit_sequence_din[12]_LC_10)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[13] 1 16 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[13]_LC_11)
set_location fsm_ctrl_inst1.bit_sequence_din[13] 1 16 3 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[13]_LC_11)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[14] 1 16 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[14]_LC_12)
set_location fsm_ctrl_inst1.bit_sequence_din[14] 1 16 2 # SB_DFFR (LogicCell: fsm_ctrl_inst1.bit_sequence_din[14]_LC_12)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[15] 1 16 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[15]_LC_13)
set_location fsm_ctrl_inst1.bit_sequence_din[15] 1 16 1 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[15]_LC_13)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[2] 1 12 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[2]_LC_14)
set_location fsm_ctrl_inst1.bit_sequence_din[2] 1 12 1 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[2]_LC_14)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[3] 1 12 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[3]_LC_15)
set_location fsm_ctrl_inst1.bit_sequence_din[3] 1 12 2 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[3]_LC_15)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[4] 1 12 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[4]_LC_16)
set_location fsm_ctrl_inst1.bit_sequence_din[4] 1 12 3 # SB_DFFR (LogicCell: fsm_ctrl_inst1.bit_sequence_din[4]_LC_16)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[5] 1 12 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[5]_LC_17)
set_location fsm_ctrl_inst1.bit_sequence_din[5] 1 12 4 # SB_DFFR (LogicCell: fsm_ctrl_inst1.bit_sequence_din[5]_LC_17)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[6] 1 12 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[6]_LC_18)
set_location fsm_ctrl_inst1.bit_sequence_din[6] 1 12 5 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[6]_LC_18)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[7] 1 12 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[7]_LC_19)
set_location fsm_ctrl_inst1.bit_sequence_din[7] 1 12 6 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[7]_LC_19)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[8] 1 12 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[8]_LC_20)
set_location fsm_ctrl_inst1.bit_sequence_din[8] 1 12 7 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[8]_LC_20)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[9] 1 16 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[9]_LC_21)
set_location fsm_ctrl_inst1.bit_sequence_din[9] 1 16 7 # SB_DFFS (LogicCell: fsm_ctrl_inst1.bit_sequence_din[9]_LC_21)
set_location fsm_ctrl_inst1.counter_idle_RNI22KF1[3] 1 14 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle_RNI22KF1[3]_LC_22)
set_location fsm_ctrl_inst1.counter_idle_RNI6LIC1[9] 1 14 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle_RNI6LIC1[9]_LC_23)
set_location fsm_ctrl_inst1.counter_idle_RNI8N6S2[3] 1 14 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle_RNI8N6S2[3]_LC_24)
set_location fsm_ctrl_inst1.counter_idle_RNO[0] 2 13 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[0]_LC_25)
set_location fsm_ctrl_inst1.counter_idle[0] 2 13 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[0]_LC_25)
set_location fsm_ctrl_inst1.counter_idle_cry_c[0] 2 13 0 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[0]_LC_25)
set_location fsm_ctrl_inst1.counter_idle_RNO[1] 2 13 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[1]_LC_26)
set_location fsm_ctrl_inst1.counter_idle[1] 2 13 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[1]_LC_26)
set_location fsm_ctrl_inst1.counter_idle_cry_c[1] 2 13 1 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[1]_LC_26)
set_location fsm_ctrl_inst1.counter_idle_RNO[2] 2 13 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[2]_LC_27)
set_location fsm_ctrl_inst1.counter_idle[2] 2 13 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[2]_LC_27)
set_location fsm_ctrl_inst1.counter_idle_cry_c[2] 2 13 2 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[2]_LC_27)
set_location fsm_ctrl_inst1.counter_idle_RNO[3] 2 13 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[3]_LC_28)
set_location fsm_ctrl_inst1.counter_idle[3] 2 13 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[3]_LC_28)
set_location fsm_ctrl_inst1.counter_idle_cry_c[3] 2 13 3 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[3]_LC_28)
set_location fsm_ctrl_inst1.counter_idle_RNO[4] 2 13 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[4]_LC_29)
set_location fsm_ctrl_inst1.counter_idle[4] 2 13 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[4]_LC_29)
set_location fsm_ctrl_inst1.counter_idle_cry_c[4] 2 13 4 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[4]_LC_29)
set_location fsm_ctrl_inst1.counter_idle_RNO[5] 2 13 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[5]_LC_30)
set_location fsm_ctrl_inst1.counter_idle[5] 2 13 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[5]_LC_30)
set_location fsm_ctrl_inst1.counter_idle_cry_c[5] 2 13 5 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[5]_LC_30)
set_location fsm_ctrl_inst1.counter_idle_RNO[6] 2 13 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[6]_LC_31)
set_location fsm_ctrl_inst1.counter_idle[6] 2 13 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[6]_LC_31)
set_location fsm_ctrl_inst1.counter_idle_cry_c[6] 2 13 6 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[6]_LC_31)
set_location fsm_ctrl_inst1.counter_idle_RNO[7] 2 13 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[7]_LC_32)
set_location fsm_ctrl_inst1.counter_idle[7] 2 13 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[7]_LC_32)
set_location fsm_ctrl_inst1.counter_idle_cry_c[7] 2 13 7 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[7]_LC_32)
set_location fsm_ctrl_inst1.counter_idle_RNO[8] 2 14 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[8]_LC_33)
set_location fsm_ctrl_inst1.counter_idle[8] 2 14 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[8]_LC_33)
set_location fsm_ctrl_inst1.counter_idle_cry_c[8] 2 14 0 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[8]_LC_33)
set_location fsm_ctrl_inst1.counter_idle_RNO[9] 2 14 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[9]_LC_34)
set_location fsm_ctrl_inst1.counter_idle[9] 2 14 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[9]_LC_34)
set_location fsm_ctrl_inst1.current_state_RNO[0] 1 14 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state[0]_LC_35)
set_location fsm_ctrl_inst1.current_state[0] 1 14 4 # SB_DFFR (LogicCell: fsm_ctrl_inst1.current_state[0]_LC_35)
set_location fsm_ctrl_inst1.current_state_RNO_0[0] 1 13 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_0[0]_LC_36)
set_location fsm_ctrl_inst1.current_state_RNO_1[0] 1 13 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_1[0]_LC_37)
set_location fsm_ctrl_inst1.current_state_RNO_2[0] 2 15 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_2[0]_LC_38)
set_location config_register_latched_dec_inst1.DYNSR_0_THRU_LUT4_0 2 15 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[0]_LC_39)
set_location config_register_latched_dec_inst1.DYNSR[0] 2 15 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[0]_LC_39)
set_location config_register_latched_dec_inst1.DYNSR_1_THRU_LUT4_0 2 15 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[1]_LC_40)
set_location config_register_latched_dec_inst1.DYNSR[1] 2 15 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[1]_LC_40)
set_location config_register_latched_dec_inst1.DYNSR_10_THRU_LUT4_0 1 15 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[10]_LC_41)
set_location config_register_latched_dec_inst1.DYNSR[10] 1 15 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[10]_LC_41)
set_location config_register_latched_dec_inst1.DYNSR_11_THRU_LUT4_0 1 13 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[11]_LC_42)
set_location config_register_latched_dec_inst1.DYNSR[11] 1 13 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[11]_LC_42)
set_location config_register_latched_dec_inst1.DYNSR_12_THRU_LUT4_0 1 13 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[12]_LC_43)
set_location config_register_latched_dec_inst1.DYNSR[12] 1 13 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[12]_LC_43)
set_location config_register_latched_dec_inst1.DYNSR_13_THRU_LUT4_0 1 13 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[13]_LC_44)
set_location config_register_latched_dec_inst1.DYNSR[13] 1 13 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[13]_LC_44)
set_location config_register_latched_dec_inst1.DYNSR_14_THRU_LUT4_0 1 13 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[14]_LC_45)
set_location config_register_latched_dec_inst1.DYNSR[14] 1 13 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.DYNSR[14]_LC_45)
set_location config_register_latched_dec_inst1.DYNSR_15_THRU_LUT4_0 1 13 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[15]_LC_46)
set_location config_register_latched_dec_inst1.DYNSR[15] 1 13 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[15]_LC_46)
set_location config_register_latched_dec_inst1.DYNSR_2_THRU_LUT4_0 2 15 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[2]_LC_47)
set_location config_register_latched_dec_inst1.DYNSR[2] 2 15 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[2]_LC_47)
set_location config_register_latched_dec_inst1.DYNSR_3_THRU_LUT4_0 2 15 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[3]_LC_48)
set_location config_register_latched_dec_inst1.DYNSR[3] 2 15 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[3]_LC_48)
set_location config_register_latched_dec_inst1.DYNSR_4_THRU_LUT4_0 2 15 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[4]_LC_49)
set_location config_register_latched_dec_inst1.DYNSR[4] 2 15 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[4]_LC_49)
set_location config_register_latched_dec_inst1.DYNSR_5_THRU_LUT4_0 2 15 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[5]_LC_50)
set_location config_register_latched_dec_inst1.DYNSR[5] 2 15 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[5]_LC_50)
set_location config_register_latched_dec_inst1.DYNSR_6_THRU_LUT4_0 1 15 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[6]_LC_51)
set_location config_register_latched_dec_inst1.DYNSR[6] 1 15 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[6]_LC_51)
set_location config_register_latched_dec_inst1.DYNSR_7_THRU_LUT4_0 1 15 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[7]_LC_52)
set_location config_register_latched_dec_inst1.DYNSR[7] 1 15 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[7]_LC_52)
set_location config_register_latched_dec_inst1.DYNSR_8_THRU_LUT4_0 1 15 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[8]_LC_53)
set_location config_register_latched_dec_inst1.DYNSR[8] 1 15 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[8]_LC_53)
set_location config_register_latched_dec_inst1.DYNSR_9_THRU_LUT4_0 1 15 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[9]_LC_54)
set_location config_register_latched_dec_inst1.DYNSR[9] 1 15 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[9]_LC_54)
set_location config_register_latched_dec_inst1.STATSR_0_THRU_LUT4_0 1 17 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[0]_LC_55)
set_location config_register_latched_dec_inst1.STATSR[0] 1 17 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[0]_LC_55)
set_location config_register_latched_dec_inst1.STATSR_1_THRU_LUT4_0 1 17 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[1]_LC_56)
set_location config_register_latched_dec_inst1.STATSR[1] 1 17 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[1]_LC_56)
set_location config_register_latched_dec_inst1.STATSR_10_THRU_LUT4_0 2 17 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[10]_LC_57)
set_location config_register_latched_dec_inst1.STATSR[10] 2 17 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[10]_LC_57)
set_location config_register_latched_dec_inst1.STATSR_11_THRU_LUT4_0 2 16 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[11]_LC_58)
set_location config_register_latched_dec_inst1.STATSR[11] 2 16 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[11]_LC_58)
set_location config_register_latched_dec_inst1.STATSR_12_THRU_LUT4_0 2 16 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[12]_LC_59)
set_location config_register_latched_dec_inst1.STATSR[12] 2 16 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[12]_LC_59)
set_location config_register_latched_dec_inst1.STATSR_13_THRU_LUT4_0 2 16 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[13]_LC_60)
set_location config_register_latched_dec_inst1.STATSR[13] 2 16 7 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[13]_LC_60)
set_location config_register_latched_dec_inst1.STATSR_14_THRU_LUT4_0 2 16 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[14]_LC_61)
set_location config_register_latched_dec_inst1.STATSR[14] 2 16 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[14]_LC_61)
set_location config_register_latched_dec_inst1.STATSR_15_THRU_LUT4_0 2 16 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[15]_LC_62)
set_location config_register_latched_dec_inst1.STATSR[15] 2 16 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[15]_LC_62)
set_location config_register_latched_dec_inst1.STATSR_16_THRU_LUT4_0 2 16 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[16]_LC_63)
set_location config_register_latched_dec_inst1.STATSR[16] 2 16 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[16]_LC_63)
set_location config_register_latched_dec_inst1.STATSR_17_THRU_LUT4_0 2 12 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[17]_LC_64)
set_location config_register_latched_dec_inst1.STATSR[17] 2 12 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[17]_LC_64)
set_location config_register_latched_dec_inst1.STATSR_18_THRU_LUT4_0 2 12 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[18]_LC_65)
set_location config_register_latched_dec_inst1.STATSR[18] 2 12 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[18]_LC_65)
set_location config_register_latched_dec_inst1.STATSR_19_THRU_LUT4_0 2 12 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[19]_LC_66)
set_location config_register_latched_dec_inst1.STATSR[19] 2 12 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[19]_LC_66)
set_location config_register_latched_dec_inst1.STATSR_2_THRU_LUT4_0 1 17 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[2]_LC_67)
set_location config_register_latched_dec_inst1.STATSR[2] 1 17 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[2]_LC_67)
set_location config_register_latched_dec_inst1.STATSR_20_THRU_LUT4_0 2 12 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[20]_LC_68)
set_location config_register_latched_dec_inst1.STATSR[20] 2 12 1 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[20]_LC_68)
set_location config_register_latched_dec_inst1.STATSR_21_THRU_LUT4_0 2 12 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[21]_LC_69)
set_location config_register_latched_dec_inst1.STATSR[21] 2 12 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[21]_LC_69)
set_location config_register_latched_dec_inst1.STATSR_22_THRU_LUT4_0 2 12 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[22]_LC_70)
set_location config_register_latched_dec_inst1.STATSR[22] 2 12 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[22]_LC_70)
set_location config_register_latched_dec_inst1.STATSR_23_THRU_LUT4_0 2 12 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[23]_LC_71)
set_location config_register_latched_dec_inst1.STATSR[23] 2 12 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[23]_LC_71)
set_location config_register_latched_dec_inst1.STATSR_24_THRU_LUT4_0 2 11 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[24]_LC_72)
set_location config_register_latched_dec_inst1.STATSR[24] 2 11 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[24]_LC_72)
set_location config_register_latched_dec_inst1.STATSR_25_THRU_LUT4_0 2 11 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[25]_LC_73)
set_location config_register_latched_dec_inst1.STATSR[25] 2 11 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[25]_LC_73)
set_location config_register_latched_dec_inst1.STATSR_26_THRU_LUT4_0 2 11 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[26]_LC_74)
set_location config_register_latched_dec_inst1.STATSR[26] 2 11 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[26]_LC_74)
set_location config_register_latched_dec_inst1.STATSR_27_THRU_LUT4_0 2 11 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[27]_LC_75)
set_location config_register_latched_dec_inst1.STATSR[27] 2 11 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[27]_LC_75)
set_location config_register_latched_dec_inst1.STATSR_28_THRU_LUT4_0 3 12 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[28]_LC_76)
set_location config_register_latched_dec_inst1.STATSR[28] 3 12 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[28]_LC_76)
set_location config_register_latched_dec_inst1.STATSR_29_THRU_LUT4_0 3 12 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[29]_LC_77)
set_location config_register_latched_dec_inst1.STATSR[29] 3 12 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[29]_LC_77)
set_location config_register_latched_dec_inst1.STATSR_3_THRU_LUT4_0 1 17 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[3]_LC_78)
set_location config_register_latched_dec_inst1.STATSR[3] 1 17 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[3]_LC_78)
set_location config_register_latched_dec_inst1.STATSR_30_THRU_LUT4_0 3 12 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[30]_LC_79)
set_location config_register_latched_dec_inst1.STATSR[30] 3 12 6 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[30]_LC_79)
set_location config_register_latched_dec_inst1.STATSR_31_THRU_LUT4_0 3 13 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[31]_LC_80)
set_location config_register_latched_dec_inst1.STATSR[31] 3 13 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[31]_LC_80)
set_location config_register_latched_dec_inst1.STATSR_32_THRU_LUT4_0 3 13 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[32]_LC_81)
set_location config_register_latched_dec_inst1.STATSR[32] 3 13 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[32]_LC_81)
set_location config_register_latched_dec_inst1.STATSR_33_THRU_LUT4_0 3 13 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[33]_LC_82)
set_location config_register_latched_dec_inst1.STATSR[33] 3 13 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[33]_LC_82)
set_location config_register_latched_dec_inst1.STATSR_34_THRU_LUT4_0 3 13 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[34]_LC_83)
set_location config_register_latched_dec_inst1.STATSR[34] 3 13 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[34]_LC_83)
set_location config_register_latched_dec_inst1.STATSR_35_THRU_LUT4_0 3 13 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[35]_LC_84)
set_location config_register_latched_dec_inst1.STATSR[35] 3 13 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[35]_LC_84)
set_location config_register_latched_dec_inst1.STATSR_36_THRU_LUT4_0 3 13 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[36]_LC_85)
set_location config_register_latched_dec_inst1.STATSR[36] 3 13 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[36]_LC_85)
set_location config_register_latched_dec_inst1.STATSR_37_THRU_LUT4_0 4 13 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[37]_LC_86)
set_location config_register_latched_dec_inst1.STATSR[37] 4 13 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[37]_LC_86)
set_location config_register_latched_dec_inst1.STATSR_38_THRU_LUT4_0 4 13 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[38]_LC_87)
set_location config_register_latched_dec_inst1.STATSR[38] 4 13 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[38]_LC_87)
set_location config_register_latched_dec_inst1.STATSR_39_THRU_LUT4_0 4 13 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[39]_LC_88)
set_location config_register_latched_dec_inst1.STATSR[39] 4 13 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[39]_LC_88)
set_location config_register_latched_dec_inst1.STATSR_4_THRU_LUT4_0 1 17 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[4]_LC_89)
set_location config_register_latched_dec_inst1.STATSR[4] 1 17 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[4]_LC_89)
set_location config_register_latched_dec_inst1.STATSR_40_THRU_LUT4_0 4 13 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[40]_LC_90)
set_location config_register_latched_dec_inst1.STATSR[40] 4 13 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[40]_LC_90)
set_location config_register_latched_dec_inst1.STATSR_41_THRU_LUT4_0 4 13 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[41]_LC_91)
set_location config_register_latched_dec_inst1.STATSR[41] 4 13 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[41]_LC_91)
set_location config_register_latched_dec_inst1.STATSR_42_THRU_LUT4_0 4 14 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[42]_LC_92)
set_location config_register_latched_dec_inst1.STATSR[42] 4 14 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[42]_LC_92)
set_location config_register_latched_dec_inst1.STATSR_43_THRU_LUT4_0 4 14 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[43]_LC_93)
set_location config_register_latched_dec_inst1.STATSR[43] 4 14 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[43]_LC_93)
set_location config_register_latched_dec_inst1.STATSR_44_THRU_LUT4_0 4 15 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[44]_LC_94)
set_location config_register_latched_dec_inst1.STATSR[44] 4 15 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[44]_LC_94)
set_location config_register_latched_dec_inst1.STATSR_45_THRU_LUT4_0 4 15 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[45]_LC_95)
set_location config_register_latched_dec_inst1.STATSR[45] 4 15 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[45]_LC_95)
set_location config_register_latched_dec_inst1.STATSR_46_THRU_LUT4_0 4 15 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[46]_LC_96)
set_location config_register_latched_dec_inst1.STATSR[46] 4 15 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[46]_LC_96)
set_location config_register_latched_dec_inst1.STATSR_47_THRU_LUT4_0 4 15 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[47]_LC_97)
set_location config_register_latched_dec_inst1.STATSR[47] 4 15 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[47]_LC_97)
set_location config_register_latched_dec_inst1.STATSR_48_THRU_LUT4_0 4 15 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[48]_LC_98)
set_location config_register_latched_dec_inst1.STATSR[48] 4 15 1 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[48]_LC_98)
set_location config_register_latched_dec_inst1.STATSR_49_THRU_LUT4_0 4 15 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[49]_LC_99)
set_location config_register_latched_dec_inst1.STATSR[49] 4 15 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[49]_LC_99)
set_location config_register_latched_dec_inst1.STATSR_5_THRU_LUT4_0 1 17 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[5]_LC_100)
set_location config_register_latched_dec_inst1.STATSR[5] 1 17 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[5]_LC_100)
set_location config_register_latched_dec_inst1.STATSR_50_THRU_LUT4_0 3 15 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[50]_LC_101)
set_location config_register_latched_dec_inst1.STATSR[50] 3 15 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[50]_LC_101)
set_location config_register_latched_dec_inst1.STATSR_51_THRU_LUT4_0 3 15 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[51]_LC_102)
set_location config_register_latched_dec_inst1.STATSR[51] 3 15 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[51]_LC_102)
set_location config_register_latched_dec_inst1.STATSR_52_THRU_LUT4_0 3 15 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[52]_LC_103)
set_location config_register_latched_dec_inst1.STATSR[52] 3 15 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[52]_LC_103)
set_location config_register_latched_dec_inst1.STATSR_53_THRU_LUT4_0 3 15 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[53]_LC_104)
set_location config_register_latched_dec_inst1.STATSR[53] 3 15 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[53]_LC_104)
set_location config_register_latched_dec_inst1.STATSR_54_THRU_LUT4_0 3 15 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[54]_LC_105)
set_location config_register_latched_dec_inst1.STATSR[54] 3 15 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[54]_LC_105)
set_location config_register_latched_dec_inst1.STATSR_55_THRU_LUT4_0 3 14 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[55]_LC_106)
set_location config_register_latched_dec_inst1.STATSR[55] 3 14 6 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[55]_LC_106)
set_location config_register_latched_dec_inst1.STATSR_56_THRU_LUT4_0 3 14 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[56]_LC_107)
set_location config_register_latched_dec_inst1.STATSR[56] 3 14 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[56]_LC_107)
set_location config_register_latched_dec_inst1.STATSR_57_THRU_LUT4_0 3 13 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[57]_LC_108)
set_location config_register_latched_dec_inst1.STATSR[57] 3 13 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[57]_LC_108)
set_location config_register_latched_dec_inst1.STATSR_58_THRU_LUT4_0 3 13 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[58]_LC_109)
set_location config_register_latched_dec_inst1.STATSR[58] 3 13 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[58]_LC_109)
set_location config_register_latched_dec_inst1.STATSR_59_THRU_LUT4_0 3 12 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[59]_LC_110)
set_location config_register_latched_dec_inst1.STATSR[59] 3 12 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[59]_LC_110)
set_location config_register_latched_dec_inst1.STATSR_6_THRU_LUT4_0 2 17 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[6]_LC_111)
set_location config_register_latched_dec_inst1.STATSR[6] 2 17 7 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[6]_LC_111)
set_location config_register_latched_dec_inst1.STATSR_60_THRU_LUT4_0 3 12 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[60]_LC_112)
set_location config_register_latched_dec_inst1.STATSR[60] 3 12 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[60]_LC_112)
set_location config_register_latched_dec_inst1.STATSR_61_THRU_LUT4_0 3 11 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[61]_LC_113)
set_location config_register_latched_dec_inst1.STATSR[61] 3 11 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[61]_LC_113)
set_location config_register_latched_dec_inst1.STATSR_62_THRU_LUT4_0 3 11 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[62]_LC_114)
set_location config_register_latched_dec_inst1.STATSR[62] 3 11 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[62]_LC_114)
set_location config_register_latched_dec_inst1.STATSR_63_THRU_LUT4_0 3 11 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[63]_LC_115)
set_location config_register_latched_dec_inst1.STATSR[63] 3 11 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[63]_LC_115)
set_location config_register_latched_dec_inst1.STATSR_64_THRU_LUT4_0 3 11 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[64]_LC_116)
set_location config_register_latched_dec_inst1.STATSR[64] 3 11 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[64]_LC_116)
set_location config_register_latched_dec_inst1.STATSR_65_THRU_LUT4_0 3 11 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[65]_LC_117)
set_location config_register_latched_dec_inst1.STATSR[65] 3 11 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[65]_LC_117)
set_location config_register_latched_dec_inst1.STATSR_66_THRU_LUT4_0 4 12 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[66]_LC_118)
set_location config_register_latched_dec_inst1.STATSR[66] 4 12 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[66]_LC_118)
set_location config_register_latched_dec_inst1.STATSR_67_THRU_LUT4_0 4 12 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[67]_LC_119)
set_location config_register_latched_dec_inst1.STATSR[67] 4 12 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[67]_LC_119)
set_location config_register_latched_dec_inst1.STATSR_68_THRU_LUT4_0 4 12 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[68]_LC_120)
set_location config_register_latched_dec_inst1.STATSR[68] 4 12 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[68]_LC_120)
set_location config_register_latched_dec_inst1.STATSR_69_THRU_LUT4_0 4 12 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[69]_LC_121)
set_location config_register_latched_dec_inst1.STATSR[69] 4 12 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[69]_LC_121)
set_location config_register_latched_dec_inst1.STATSR_7_THRU_LUT4_0 2 17 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[7]_LC_122)
set_location config_register_latched_dec_inst1.STATSR[7] 2 17 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[7]_LC_122)
set_location config_register_latched_dec_inst1.STATSR_70_THRU_LUT4_0 4 12 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[70]_LC_123)
set_location config_register_latched_dec_inst1.STATSR[70] 4 12 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[70]_LC_123)
set_location config_register_latched_dec_inst1.STATSR_71_THRU_LUT4_0 4 12 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[71]_LC_124)
set_location config_register_latched_dec_inst1.STATSR[71] 4 12 7 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[71]_LC_124)
set_location config_register_latched_dec_inst1.STATSR_72_THRU_LUT4_0 4 12 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[72]_LC_125)
set_location config_register_latched_dec_inst1.STATSR[72] 4 12 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[72]_LC_125)
set_location config_register_latched_dec_inst1.STATSR_73_THRU_LUT4_0 4 13 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[73]_LC_126)
set_location config_register_latched_dec_inst1.STATSR[73] 4 13 7 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[73]_LC_126)
set_location config_register_latched_dec_inst1.STATSR_74_THRU_LUT4_0 4 14 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[74]_LC_127)
set_location config_register_latched_dec_inst1.STATSR[74] 4 14 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[74]_LC_127)
set_location config_register_latched_dec_inst1.STATSR_75_THRU_LUT4_0 4 14 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[75]_LC_128)
set_location config_register_latched_dec_inst1.STATSR[75] 4 14 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[75]_LC_128)
set_location config_register_latched_dec_inst1.STATSR_76_THRU_LUT4_0 4 14 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[76]_LC_129)
set_location config_register_latched_dec_inst1.STATSR[76] 4 14 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[76]_LC_129)
set_location config_register_latched_dec_inst1.STATSR_77_THRU_LUT4_0 4 14 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[77]_LC_130)
set_location config_register_latched_dec_inst1.STATSR[77] 4 14 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[77]_LC_130)
set_location config_register_latched_dec_inst1.STATSR_78_THRU_LUT4_0 4 14 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[78]_LC_131)
set_location config_register_latched_dec_inst1.STATSR[78] 4 14 1 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[78]_LC_131)
set_location config_register_latched_dec_inst1.STATSR_79_THRU_LUT4_0 4 14 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[79]_LC_132)
set_location config_register_latched_dec_inst1.STATSR[79] 4 14 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[79]_LC_132)
set_location config_register_latched_dec_inst1.STATSR_8_THRU_LUT4_0 2 17 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[8]_LC_133)
set_location config_register_latched_dec_inst1.STATSR[8] 2 17 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[8]_LC_133)
set_location config_register_latched_dec_inst1.STATSR_80_THRU_LUT4_0 4 13 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[80]_LC_134)
set_location config_register_latched_dec_inst1.STATSR[80] 4 13 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[80]_LC_134)
set_location config_register_latched_dec_inst1.STATSR_81_THRU_LUT4_0 4 13 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[81]_LC_135)
set_location config_register_latched_dec_inst1.STATSR[81] 4 13 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[81]_LC_135)
set_location config_register_latched_dec_inst1.STATSR_82_THRU_LUT4_0 4 12 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[82]_LC_136)
set_location config_register_latched_dec_inst1.STATSR[82] 4 12 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[82]_LC_136)
set_location config_register_latched_dec_inst1.STATSR_83_THRU_LUT4_0 4 11 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[83]_LC_137)
set_location config_register_latched_dec_inst1.STATSR[83] 4 11 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[83]_LC_137)
set_location config_register_latched_dec_inst1.STATSR_84_THRU_LUT4_0 4 11 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[84]_LC_138)
set_location config_register_latched_dec_inst1.STATSR[84] 4 11 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[84]_LC_138)
set_location config_register_latched_dec_inst1.STATSR_85_THRU_LUT4_0 3 11 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[85]_LC_139)
set_location config_register_latched_dec_inst1.STATSR[85] 3 11 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[85]_LC_139)
set_location config_register_latched_dec_inst1.STATSR_86_THRU_LUT4_0 2 11 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[86]_LC_140)
set_location config_register_latched_dec_inst1.STATSR[86] 2 11 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[86]_LC_140)
set_location config_register_latched_dec_inst1.STATSR_87_THRU_LUT4_0 1 11 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[87]_LC_141)
set_location config_register_latched_dec_inst1.STATSR[87] 1 11 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[87]_LC_141)
set_location config_register_latched_dec_inst1.STATSR_9_THRU_LUT4_0 2 17 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[9]_LC_142)
set_location config_register_latched_dec_inst1.STATSR[9] 2 17 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[9]_LC_142)
set_io CLK_ibuf_gb_io 0 17 0 # ICE_GB_IO
set_io CLK_uC_ibuf 0 20 0 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io N_215_g_gb 0 17 0 # ICE_GB
set_io RST_N_ibuf 0 3 0 # ICE_IO
set_io RST_N_ibuf_RNIBJGC_0 0 16 1 # ICE_GB
set_io SDO_signal_out_obuf 0 16 0 # ICE_IO
set_location CONSTANT_ONE_LUT4 1 15 5 # SB_LUT4 (LogicCell: LC_143)
