set_location RST_N_ibuf_RNIBJGC 1 16 0 # SB_LUT4 (LogicCell: RST_N_ibuf_RNIBJGC_LC_0)
set_location config_register_latched_dec_inst1.DYNSR_RNIQ2U9[15] 7 23 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR_RNIQ2U9[15]_LC_1)
set_location config_register_latched_dec_inst1.DYNSR_cnv[0] 6 24 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR_cnv[0]_LC_2)
set_location config_register_latched_dec_inst1.STATSR_cnv[0] 6 25 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR_cnv[0]_LC_3)
set_location fsm_ctrl_inst1.MOSI_RNO 7 22 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.MOSI_LC_4)
set_location fsm_ctrl_inst1.MOSI 7 22 2 # SB_DFFR (LogicCell: fsm_ctrl_inst1.MOSI_LC_4)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[1] 5 23 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[1]_LC_5)
set_location fsm_ctrl_inst1.bit_sequence_din[1] 5 23 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_din[1]_LC_5)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[10] 5 21 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[10]_LC_6)
set_location fsm_ctrl_inst1.bit_sequence_din[10] 5 21 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_din[10]_LC_6)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[11] 5 21 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[11]_LC_7)
set_location fsm_ctrl_inst1.bit_sequence_din[11] 5 21 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[11]_LC_7)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[12] 4 22 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[12]_LC_8)
set_location fsm_ctrl_inst1.bit_sequence_din[12] 4 22 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_din[12]_LC_8)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[13] 4 22 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[13]_LC_9)
set_location fsm_ctrl_inst1.bit_sequence_din[13] 4 22 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[13]_LC_9)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[14] 4 22 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[14]_LC_10)
set_location fsm_ctrl_inst1.bit_sequence_din[14] 4 22 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_din[14]_LC_10)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[15] 4 22 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[15]_LC_11)
set_location fsm_ctrl_inst1.bit_sequence_din[15] 4 22 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[15]_LC_11)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[2] 5 23 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[2]_LC_12)
set_location fsm_ctrl_inst1.bit_sequence_din[2] 5 23 2 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[2]_LC_12)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[3] 5 23 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[3]_LC_13)
set_location fsm_ctrl_inst1.bit_sequence_din[3] 5 23 3 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[3]_LC_13)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[4] 5 23 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[4]_LC_14)
set_location fsm_ctrl_inst1.bit_sequence_din[4] 5 23 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_din[4]_LC_14)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[5] 5 21 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[5]_LC_15)
set_location fsm_ctrl_inst1.bit_sequence_din[5] 5 21 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_din[5]_LC_15)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[6] 5 21 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[6]_LC_16)
set_location fsm_ctrl_inst1.bit_sequence_din[6] 5 21 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[6]_LC_16)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[7] 5 21 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[7]_LC_17)
set_location fsm_ctrl_inst1.bit_sequence_din[7] 5 21 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[7]_LC_17)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[8] 5 21 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[8]_LC_18)
set_location fsm_ctrl_inst1.bit_sequence_din[8] 5 21 2 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[8]_LC_18)
set_location fsm_ctrl_inst1.bit_sequence_din_RNO[9] 5 21 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[9]_LC_19)
set_location fsm_ctrl_inst1.bit_sequence_din[9] 5 21 5 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[9]_LC_19)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[1] 5 19 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[1]_LC_20)
set_location fsm_ctrl_inst1.bit_sequence_stat[1] 5 19 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[1]_LC_20)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[10] 4 20 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[10]_LC_21)
set_location fsm_ctrl_inst1.bit_sequence_stat[10] 4 20 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[10]_LC_21)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[11] 4 20 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[11]_LC_22)
set_location fsm_ctrl_inst1.bit_sequence_stat[11] 4 20 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[11]_LC_22)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[12] 4 20 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[12]_LC_23)
set_location fsm_ctrl_inst1.bit_sequence_stat[12] 4 20 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[12]_LC_23)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[13] 4 19 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[13]_LC_24)
set_location fsm_ctrl_inst1.bit_sequence_stat[13] 4 19 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[13]_LC_24)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[14] 4 19 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[14]_LC_25)
set_location fsm_ctrl_inst1.bit_sequence_stat[14] 4 19 2 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[14]_LC_25)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[15] 5 19 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[15]_LC_26)
set_location fsm_ctrl_inst1.bit_sequence_stat[15] 5 19 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[15]_LC_26)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[16] 6 20 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[16]_LC_27)
set_location fsm_ctrl_inst1.bit_sequence_stat[16] 6 20 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[16]_LC_27)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[17] 6 20 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[17]_LC_28)
set_location fsm_ctrl_inst1.bit_sequence_stat[17] 6 20 3 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[17]_LC_28)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[18] 7 20 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[18]_LC_29)
set_location fsm_ctrl_inst1.bit_sequence_stat[18] 7 20 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[18]_LC_29)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[19] 5 20 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[19]_LC_30)
set_location fsm_ctrl_inst1.bit_sequence_stat[19] 5 20 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[19]_LC_30)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[2] 5 19 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[2]_LC_31)
set_location fsm_ctrl_inst1.bit_sequence_stat[2] 5 19 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[2]_LC_31)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[20] 3 20 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[20]_LC_32)
set_location fsm_ctrl_inst1.bit_sequence_stat[20] 3 20 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[20]_LC_32)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[21] 2 22 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[21]_LC_33)
set_location fsm_ctrl_inst1.bit_sequence_stat[21] 2 22 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[21]_LC_33)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[22] 2 22 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[22]_LC_34)
set_location fsm_ctrl_inst1.bit_sequence_stat[22] 2 22 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[22]_LC_34)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[23] 3 22 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[23]_LC_35)
set_location fsm_ctrl_inst1.bit_sequence_stat[23] 3 22 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[23]_LC_35)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[24] 3 22 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[24]_LC_36)
set_location fsm_ctrl_inst1.bit_sequence_stat[24] 3 22 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[24]_LC_36)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[25] 3 21 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[25]_LC_37)
set_location fsm_ctrl_inst1.bit_sequence_stat[25] 3 21 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[25]_LC_37)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[26] 3 20 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[26]_LC_38)
set_location fsm_ctrl_inst1.bit_sequence_stat[26] 3 20 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[26]_LC_38)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[27] 3 20 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[27]_LC_39)
set_location fsm_ctrl_inst1.bit_sequence_stat[27] 3 20 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[27]_LC_39)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[28] 3 19 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[28]_LC_40)
set_location fsm_ctrl_inst1.bit_sequence_stat[28] 3 19 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[28]_LC_40)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[29] 3 19 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[29]_LC_41)
set_location fsm_ctrl_inst1.bit_sequence_stat[29] 3 19 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[29]_LC_41)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[3] 5 20 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[3]_LC_42)
set_location fsm_ctrl_inst1.bit_sequence_stat[3] 5 20 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[3]_LC_42)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[30] 4 20 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[30]_LC_43)
set_location fsm_ctrl_inst1.bit_sequence_stat[30] 4 20 3 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[30]_LC_43)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[31] 4 19 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[31]_LC_44)
set_location fsm_ctrl_inst1.bit_sequence_stat[31] 4 19 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[31]_LC_44)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[32] 5 19 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[32]_LC_45)
set_location fsm_ctrl_inst1.bit_sequence_stat[32] 5 19 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[32]_LC_45)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[33] 5 19 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[33]_LC_46)
set_location fsm_ctrl_inst1.bit_sequence_stat[33] 5 19 5 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[33]_LC_46)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[34] 4 19 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[34]_LC_47)
set_location fsm_ctrl_inst1.bit_sequence_stat[34] 4 19 0 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[34]_LC_47)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[35] 6 19 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[35]_LC_48)
set_location fsm_ctrl_inst1.bit_sequence_stat[35] 6 19 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[35]_LC_48)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[36] 7 19 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[36]_LC_49)
set_location fsm_ctrl_inst1.bit_sequence_stat[36] 7 19 2 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[36]_LC_49)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[37] 7 19 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[37]_LC_50)
set_location fsm_ctrl_inst1.bit_sequence_stat[37] 7 19 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[37]_LC_50)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[38] 7 19 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[38]_LC_51)
set_location fsm_ctrl_inst1.bit_sequence_stat[38] 7 19 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[38]_LC_51)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[39] 7 20 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[39]_LC_52)
set_location fsm_ctrl_inst1.bit_sequence_stat[39] 7 20 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[39]_LC_52)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[4] 6 20 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[4]_LC_53)
set_location fsm_ctrl_inst1.bit_sequence_stat[4] 6 20 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[4]_LC_53)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[40] 7 20 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[40]_LC_54)
set_location fsm_ctrl_inst1.bit_sequence_stat[40] 7 20 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[40]_LC_54)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[41] 7 20 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[41]_LC_55)
set_location fsm_ctrl_inst1.bit_sequence_stat[41] 7 20 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[41]_LC_55)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[42] 7 20 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[42]_LC_56)
set_location fsm_ctrl_inst1.bit_sequence_stat[42] 7 20 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[42]_LC_56)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[43] 6 20 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[43]_LC_57)
set_location fsm_ctrl_inst1.bit_sequence_stat[43] 6 20 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[43]_LC_57)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[44] 6 20 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[44]_LC_58)
set_location fsm_ctrl_inst1.bit_sequence_stat[44] 6 20 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[44]_LC_58)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[45] 6 20 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[45]_LC_59)
set_location fsm_ctrl_inst1.bit_sequence_stat[45] 6 20 2 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[45]_LC_59)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[46] 6 20 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[46]_LC_60)
set_location fsm_ctrl_inst1.bit_sequence_stat[46] 6 20 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[46]_LC_60)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[47] 6 19 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[47]_LC_61)
set_location fsm_ctrl_inst1.bit_sequence_stat[47] 6 19 3 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[47]_LC_61)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[48] 6 19 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[48]_LC_62)
set_location fsm_ctrl_inst1.bit_sequence_stat[48] 6 19 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[48]_LC_62)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[49] 6 19 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[49]_LC_63)
set_location fsm_ctrl_inst1.bit_sequence_stat[49] 6 19 2 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[49]_LC_63)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[5] 6 19 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[5]_LC_64)
set_location fsm_ctrl_inst1.bit_sequence_stat[5] 6 19 0 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[5]_LC_64)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[50] 7 19 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[50]_LC_65)
set_location fsm_ctrl_inst1.bit_sequence_stat[50] 7 19 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[50]_LC_65)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[51] 7 19 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[51]_LC_66)
set_location fsm_ctrl_inst1.bit_sequence_stat[51] 7 19 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[51]_LC_66)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[52] 7 19 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[52]_LC_67)
set_location fsm_ctrl_inst1.bit_sequence_stat[52] 7 19 0 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[52]_LC_67)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[53] 6 18 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[53]_LC_68)
set_location fsm_ctrl_inst1.bit_sequence_stat[53] 6 18 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[53]_LC_68)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[54] 6 18 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[54]_LC_69)
set_location fsm_ctrl_inst1.bit_sequence_stat[54] 6 18 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[54]_LC_69)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[55] 6 18 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[55]_LC_70)
set_location fsm_ctrl_inst1.bit_sequence_stat[55] 6 18 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[55]_LC_70)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[56] 6 18 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[56]_LC_71)
set_location fsm_ctrl_inst1.bit_sequence_stat[56] 6 18 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[56]_LC_71)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[57] 6 18 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[57]_LC_72)
set_location fsm_ctrl_inst1.bit_sequence_stat[57] 6 18 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[57]_LC_72)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[58] 6 18 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[58]_LC_73)
set_location fsm_ctrl_inst1.bit_sequence_stat[58] 6 18 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[58]_LC_73)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[59] 6 18 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[59]_LC_74)
set_location fsm_ctrl_inst1.bit_sequence_stat[59] 6 18 0 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[59]_LC_74)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[6] 6 20 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[6]_LC_75)
set_location fsm_ctrl_inst1.bit_sequence_stat[6] 6 20 5 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[6]_LC_75)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[60] 6 19 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[60]_LC_76)
set_location fsm_ctrl_inst1.bit_sequence_stat[60] 6 19 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[60]_LC_76)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[61] 5 20 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[61]_LC_77)
set_location fsm_ctrl_inst1.bit_sequence_stat[61] 5 20 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[61]_LC_77)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[62] 5 20 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[62]_LC_78)
set_location fsm_ctrl_inst1.bit_sequence_stat[62] 5 20 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[62]_LC_78)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[63] 4 21 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[63]_LC_79)
set_location fsm_ctrl_inst1.bit_sequence_stat[63] 4 21 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[63]_LC_79)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[64] 3 22 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[64]_LC_80)
set_location fsm_ctrl_inst1.bit_sequence_stat[64] 3 22 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[64]_LC_80)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[65] 3 22 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[65]_LC_81)
set_location fsm_ctrl_inst1.bit_sequence_stat[65] 3 22 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[65]_LC_81)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[66] 3 22 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[66]_LC_82)
set_location fsm_ctrl_inst1.bit_sequence_stat[66] 3 22 4 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[66]_LC_82)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[67] 3 22 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[67]_LC_83)
set_location fsm_ctrl_inst1.bit_sequence_stat[67] 3 22 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[67]_LC_83)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[68] 3 22 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[68]_LC_84)
set_location fsm_ctrl_inst1.bit_sequence_stat[68] 3 22 6 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[68]_LC_84)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[69] 3 21 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[69]_LC_85)
set_location fsm_ctrl_inst1.bit_sequence_stat[69] 3 21 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[69]_LC_85)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[7] 5 20 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[7]_LC_86)
set_location fsm_ctrl_inst1.bit_sequence_stat[7] 5 20 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[7]_LC_86)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[70] 3 20 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[70]_LC_87)
set_location fsm_ctrl_inst1.bit_sequence_stat[70] 3 20 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[70]_LC_87)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[71] 3 20 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[71]_LC_88)
set_location fsm_ctrl_inst1.bit_sequence_stat[71] 3 20 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[71]_LC_88)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[72] 3 19 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[72]_LC_89)
set_location fsm_ctrl_inst1.bit_sequence_stat[72] 3 19 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[72]_LC_89)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[73] 3 18 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[73]_LC_90)
set_location fsm_ctrl_inst1.bit_sequence_stat[73] 3 18 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[73]_LC_90)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[74] 5 18 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[74]_LC_91)
set_location fsm_ctrl_inst1.bit_sequence_stat[74] 5 18 0 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[74]_LC_91)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[75] 5 19 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[75]_LC_92)
set_location fsm_ctrl_inst1.bit_sequence_stat[75] 5 19 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[75]_LC_92)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[76] 5 18 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[76]_LC_93)
set_location fsm_ctrl_inst1.bit_sequence_stat[76] 5 18 3 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[76]_LC_93)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[77] 6 17 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[77]_LC_94)
set_location fsm_ctrl_inst1.bit_sequence_stat[77] 6 17 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[77]_LC_94)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[78] 6 18 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[78]_LC_95)
set_location fsm_ctrl_inst1.bit_sequence_stat[78] 6 18 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[78]_LC_95)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[79] 7 18 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[79]_LC_96)
set_location fsm_ctrl_inst1.bit_sequence_stat[79] 7 18 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[79]_LC_96)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[8] 5 20 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[8]_LC_97)
set_location fsm_ctrl_inst1.bit_sequence_stat[8] 5 20 3 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[8]_LC_97)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[80] 6 19 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[80]_LC_98)
set_location fsm_ctrl_inst1.bit_sequence_stat[80] 6 19 7 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[80]_LC_98)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[81] 5 19 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[81]_LC_99)
set_location fsm_ctrl_inst1.bit_sequence_stat[81] 5 19 7 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[81]_LC_99)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[82] 5 19 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[82]_LC_100)
set_location fsm_ctrl_inst1.bit_sequence_stat[82] 5 19 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[82]_LC_100)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[83] 4 18 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[83]_LC_101)
set_location fsm_ctrl_inst1.bit_sequence_stat[83] 4 18 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[83]_LC_101)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[84] 4 18 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[84]_LC_102)
set_location fsm_ctrl_inst1.bit_sequence_stat[84] 4 18 5 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[84]_LC_102)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[85] 5 18 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[85]_LC_103)
set_location fsm_ctrl_inst1.bit_sequence_stat[85] 5 18 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[85]_LC_103)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[86] 6 19 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[86]_LC_104)
set_location fsm_ctrl_inst1.bit_sequence_stat[86] 6 19 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[86]_LC_104)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[87] 7 20 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[87]_LC_105)
set_location fsm_ctrl_inst1.bit_sequence_stat[87] 7 20 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[87]_LC_105)
set_location fsm_ctrl_inst1.bit_sequence_stat_RNO[9] 5 20 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[9]_LC_106)
set_location fsm_ctrl_inst1.bit_sequence_stat[9] 5 20 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[9]_LC_106)
set_location fsm_ctrl_inst1.counter_din_RNI6L3H1[3] 7 23 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_din_RNI6L3H1[3]_LC_107)
set_location fsm_ctrl_inst1.counter_din_RNO[0] 7 23 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_din[0]_LC_108)
set_location fsm_ctrl_inst1.counter_din[0] 7 23 1 # SB_DFFR (LogicCell: fsm_ctrl_inst1.counter_din[0]_LC_108)
set_location fsm_ctrl_inst1.counter_din_RNO_0[3] 7 23 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_din_RNO_0[3]_LC_109)
set_location fsm_ctrl_inst1.counter_din_RNO[1] 7 23 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_din[1]_LC_110)
set_location fsm_ctrl_inst1.counter_din[1] 7 23 5 # SB_DFFR (LogicCell: fsm_ctrl_inst1.counter_din[1]_LC_110)
set_location fsm_ctrl_inst1.counter_din_RNO[2] 7 23 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_din[2]_LC_111)
set_location fsm_ctrl_inst1.counter_din[2] 7 23 4 # SB_DFFR (LogicCell: fsm_ctrl_inst1.counter_din[2]_LC_111)
set_location fsm_ctrl_inst1.counter_din_RNO[3] 7 23 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_din[3]_LC_112)
set_location fsm_ctrl_inst1.counter_din[3] 7 23 3 # SB_DFFR (LogicCell: fsm_ctrl_inst1.counter_din[3]_LC_112)
set_location fsm_ctrl_inst1.counter_idle_RNIMLJF1[4] 6 26 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle_RNIMLJF1[4]_LC_113)
set_location fsm_ctrl_inst1.counter_idle_RNO[0] 7 25 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[0]_LC_114)
set_location fsm_ctrl_inst1.counter_idle[0] 7 25 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[0]_LC_114)
set_location fsm_ctrl_inst1.counter_idle_cry_c[0] 7 25 0 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[0]_LC_114)
set_location fsm_ctrl_inst1.counter_idle_RNO[1] 7 25 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[1]_LC_115)
set_location fsm_ctrl_inst1.counter_idle[1] 7 25 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[1]_LC_115)
set_location fsm_ctrl_inst1.counter_idle_cry_c[1] 7 25 1 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[1]_LC_115)
set_location fsm_ctrl_inst1.counter_idle_RNO[2] 7 25 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[2]_LC_116)
set_location fsm_ctrl_inst1.counter_idle[2] 7 25 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[2]_LC_116)
set_location fsm_ctrl_inst1.counter_idle_cry_c[2] 7 25 2 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[2]_LC_116)
set_location fsm_ctrl_inst1.counter_idle_RNO[3] 7 25 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[3]_LC_117)
set_location fsm_ctrl_inst1.counter_idle[3] 7 25 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[3]_LC_117)
set_location fsm_ctrl_inst1.counter_idle_cry_c[3] 7 25 3 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_idle[3]_LC_117)
set_location fsm_ctrl_inst1.counter_idle_RNO[4] 7 25 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_idle[4]_LC_118)
set_location fsm_ctrl_inst1.counter_idle[4] 7 25 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_idle[4]_LC_118)
set_location fsm_ctrl_inst1.counter_stat_RNIO659[6] 5 22 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat_RNIO659[6]_LC_119)
set_location fsm_ctrl_inst1.counter_stat_RNIPO4[3] 5 22 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat_RNIPO4[3]_LC_120)
set_location fsm_ctrl_inst1.counter_stat_RNO[0] 6 21 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[0]_LC_121)
set_location fsm_ctrl_inst1.counter_stat[0] 6 21 0 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[0]_LC_121)
set_location fsm_ctrl_inst1.counter_stat_cry_c[0] 6 21 0 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_stat[0]_LC_121)
set_location fsm_ctrl_inst1.counter_stat_RNO[1] 6 21 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[1]_LC_122)
set_location fsm_ctrl_inst1.counter_stat[1] 6 21 1 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[1]_LC_122)
set_location fsm_ctrl_inst1.counter_stat_cry_c[1] 6 21 1 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_stat[1]_LC_122)
set_location fsm_ctrl_inst1.counter_stat_RNO[2] 6 21 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[2]_LC_123)
set_location fsm_ctrl_inst1.counter_stat[2] 6 21 2 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[2]_LC_123)
set_location fsm_ctrl_inst1.counter_stat_cry_c[2] 6 21 2 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_stat[2]_LC_123)
set_location fsm_ctrl_inst1.counter_stat_RNO[3] 6 21 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[3]_LC_124)
set_location fsm_ctrl_inst1.counter_stat[3] 6 21 3 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[3]_LC_124)
set_location fsm_ctrl_inst1.counter_stat_cry_c[3] 6 21 3 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_stat[3]_LC_124)
set_location fsm_ctrl_inst1.counter_stat_RNO[4] 6 21 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[4]_LC_125)
set_location fsm_ctrl_inst1.counter_stat[4] 6 21 4 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[4]_LC_125)
set_location fsm_ctrl_inst1.counter_stat_cry_c[4] 6 21 4 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_stat[4]_LC_125)
set_location fsm_ctrl_inst1.counter_stat_RNO[5] 6 21 5 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[5]_LC_126)
set_location fsm_ctrl_inst1.counter_stat[5] 6 21 5 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[5]_LC_126)
set_location fsm_ctrl_inst1.counter_stat_cry_c[5] 6 21 5 # SB_CARRY (LogicCell: fsm_ctrl_inst1.counter_stat[5]_LC_126)
set_location fsm_ctrl_inst1.counter_stat_RNO[6] 6 21 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.counter_stat[6]_LC_127)
set_location fsm_ctrl_inst1.counter_stat[6] 6 21 6 # SB_DFFER (LogicCell: fsm_ctrl_inst1.counter_stat[6]_LC_127)
set_location fsm_ctrl_inst1.current_state_RNI1GR8[0] 7 21 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNI1GR8[0]_LC_128)
set_location fsm_ctrl_inst1.current_state_RNI2HR8[1] 5 22 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNI2HR8[1]_LC_129)
set_location fsm_ctrl_inst1.current_state_RNI31NH[0] 7 24 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNI31NH[0]_LC_130)
set_location fsm_ctrl_inst1.current_state_RNIPMA12[0] 6 26 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNIPMA12[0]_LC_131)
set_location fsm_ctrl_inst1.current_state_RNO[0] 6 22 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state[0]_LC_132)
set_location fsm_ctrl_inst1.current_state[0] 6 22 1 # SB_DFFR (LogicCell: fsm_ctrl_inst1.current_state[0]_LC_132)
set_location fsm_ctrl_inst1.current_state_RNO_0[0] 7 24 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_0[0]_LC_133)
set_location fsm_ctrl_inst1.current_state_RNO_0[1] 6 22 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_0[1]_LC_134)
set_location fsm_ctrl_inst1.current_state_RNO[1] 6 22 4 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state[1]_LC_135)
set_location fsm_ctrl_inst1.current_state[1] 6 22 4 # SB_DFFR (LogicCell: fsm_ctrl_inst1.current_state[1]_LC_135)
set_location fsm_ctrl_inst1.current_state_RNO_1[0] 7 24 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_1[0]_LC_136)
set_location fsm_ctrl_inst1.current_state_RNO_1[1] 6 22 2 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.current_state_RNO_1[1]_LC_137)
set_location fsm_ctrl_inst1.toggle_clk_uC1_RNO 7 26 7 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.toggle_clk_uC1_LC_138)
set_location fsm_ctrl_inst1.toggle_clk_uC1 7 26 7 # SB_DFFR (LogicCell: fsm_ctrl_inst1.toggle_clk_uC1_LC_138)
set_location config_register_latched_dec_inst1.DYNSR_0_THRU_LUT4_0 6 23 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[0]_LC_139)
set_location config_register_latched_dec_inst1.DYNSR[0] 6 23 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[0]_LC_139)
set_location config_register_latched_dec_inst1.DYNSR_1_THRU_LUT4_0 6 23 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[1]_LC_140)
set_location config_register_latched_dec_inst1.DYNSR[1] 6 23 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[1]_LC_140)
set_location config_register_latched_dec_inst1.DYNSR_10_THRU_LUT4_0 6 23 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[10]_LC_141)
set_location config_register_latched_dec_inst1.DYNSR[10] 6 23 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[10]_LC_141)
set_location config_register_latched_dec_inst1.DYNSR_11_THRU_LUT4_0 6 23 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[11]_LC_142)
set_location config_register_latched_dec_inst1.DYNSR[11] 6 23 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[11]_LC_142)
set_location config_register_latched_dec_inst1.DYNSR_12_THRU_LUT4_0 6 23 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[12]_LC_143)
set_location config_register_latched_dec_inst1.DYNSR[12] 6 23 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[12]_LC_143)
set_location config_register_latched_dec_inst1.DYNSR_13_THRU_LUT4_0 6 23 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[13]_LC_144)
set_location config_register_latched_dec_inst1.DYNSR[13] 6 23 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[13]_LC_144)
set_location config_register_latched_dec_inst1.DYNSR_14_THRU_LUT4_0 6 23 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[14]_LC_145)
set_location config_register_latched_dec_inst1.DYNSR[14] 6 23 6 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.DYNSR[14]_LC_145)
set_location config_register_latched_dec_inst1.DYNSR_15_THRU_LUT4_0 6 23 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[15]_LC_146)
set_location config_register_latched_dec_inst1.DYNSR[15] 6 23 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[15]_LC_146)
set_location config_register_latched_dec_inst1.DYNSR_2_THRU_LUT4_0 5 24 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[2]_LC_147)
set_location config_register_latched_dec_inst1.DYNSR[2] 5 24 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[2]_LC_147)
set_location config_register_latched_dec_inst1.DYNSR_3_THRU_LUT4_0 5 24 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[3]_LC_148)
set_location config_register_latched_dec_inst1.DYNSR[3] 5 24 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[3]_LC_148)
set_location config_register_latched_dec_inst1.DYNSR_4_THRU_LUT4_0 5 24 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[4]_LC_149)
set_location config_register_latched_dec_inst1.DYNSR[4] 5 24 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[4]_LC_149)
set_location config_register_latched_dec_inst1.DYNSR_5_THRU_LUT4_0 5 24 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[5]_LC_150)
set_location config_register_latched_dec_inst1.DYNSR[5] 5 24 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[5]_LC_150)
set_location config_register_latched_dec_inst1.DYNSR_6_THRU_LUT4_0 5 24 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[6]_LC_151)
set_location config_register_latched_dec_inst1.DYNSR[6] 5 24 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[6]_LC_151)
set_location config_register_latched_dec_inst1.DYNSR_7_THRU_LUT4_0 5 24 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[7]_LC_152)
set_location config_register_latched_dec_inst1.DYNSR[7] 5 24 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[7]_LC_152)
set_location config_register_latched_dec_inst1.DYNSR_8_THRU_LUT4_0 5 24 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[8]_LC_153)
set_location config_register_latched_dec_inst1.DYNSR[8] 5 24 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[8]_LC_153)
set_location config_register_latched_dec_inst1.DYNSR_9_THRU_LUT4_0 5 24 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.DYNSR[9]_LC_154)
set_location config_register_latched_dec_inst1.DYNSR[9] 5 24 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.DYNSR[9]_LC_154)
set_location config_register_latched_dec_inst1.STATSR_0_THRU_LUT4_0 9 24 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[0]_LC_155)
set_location config_register_latched_dec_inst1.STATSR[0] 9 24 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[0]_LC_155)
set_location config_register_latched_dec_inst1.STATSR_1_THRU_LUT4_0 10 24 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[1]_LC_156)
set_location config_register_latched_dec_inst1.STATSR[1] 10 24 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[1]_LC_156)
set_location config_register_latched_dec_inst1.STATSR_10_THRU_LUT4_0 12 27 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[10]_LC_157)
set_location config_register_latched_dec_inst1.STATSR[10] 12 27 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[10]_LC_157)
set_location config_register_latched_dec_inst1.STATSR_11_THRU_LUT4_0 12 27 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[11]_LC_158)
set_location config_register_latched_dec_inst1.STATSR[11] 12 27 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[11]_LC_158)
set_location config_register_latched_dec_inst1.STATSR_12_THRU_LUT4_0 12 27 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[12]_LC_159)
set_location config_register_latched_dec_inst1.STATSR[12] 12 27 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[12]_LC_159)
set_location config_register_latched_dec_inst1.STATSR_13_THRU_LUT4_0 13 27 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[13]_LC_160)
set_location config_register_latched_dec_inst1.STATSR[13] 13 27 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[13]_LC_160)
set_location config_register_latched_dec_inst1.STATSR_14_THRU_LUT4_0 13 27 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[14]_LC_161)
set_location config_register_latched_dec_inst1.STATSR[14] 13 27 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[14]_LC_161)
set_location config_register_latched_dec_inst1.STATSR_15_THRU_LUT4_0 13 27 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[15]_LC_162)
set_location config_register_latched_dec_inst1.STATSR[15] 13 27 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[15]_LC_162)
set_location config_register_latched_dec_inst1.STATSR_16_THRU_LUT4_0 13 27 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[16]_LC_163)
set_location config_register_latched_dec_inst1.STATSR[16] 13 27 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[16]_LC_163)
set_location config_register_latched_dec_inst1.STATSR_17_THRU_LUT4_0 14 27 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[17]_LC_164)
set_location config_register_latched_dec_inst1.STATSR[17] 14 27 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[17]_LC_164)
set_location config_register_latched_dec_inst1.STATSR_18_THRU_LUT4_0 15 27 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[18]_LC_165)
set_location config_register_latched_dec_inst1.STATSR[18] 15 27 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[18]_LC_165)
set_location config_register_latched_dec_inst1.STATSR_19_THRU_LUT4_0 15 27 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[19]_LC_166)
set_location config_register_latched_dec_inst1.STATSR[19] 15 27 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[19]_LC_166)
set_location config_register_latched_dec_inst1.STATSR_2_THRU_LUT4_0 10 24 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[2]_LC_167)
set_location config_register_latched_dec_inst1.STATSR[2] 10 24 6 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[2]_LC_167)
set_location config_register_latched_dec_inst1.STATSR_20_THRU_LUT4_0 16 28 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[20]_LC_168)
set_location config_register_latched_dec_inst1.STATSR[20] 16 28 7 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[20]_LC_168)
set_location config_register_latched_dec_inst1.STATSR_21_THRU_LUT4_0 16 29 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[21]_LC_169)
set_location config_register_latched_dec_inst1.STATSR[21] 16 29 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[21]_LC_169)
set_location config_register_latched_dec_inst1.STATSR_22_THRU_LUT4_0 16 30 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[22]_LC_170)
set_location config_register_latched_dec_inst1.STATSR[22] 16 30 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[22]_LC_170)
set_location config_register_latched_dec_inst1.STATSR_23_THRU_LUT4_0 16 30 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[23]_LC_171)
set_location config_register_latched_dec_inst1.STATSR[23] 16 30 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[23]_LC_171)
set_location config_register_latched_dec_inst1.STATSR_24_THRU_LUT4_0 16 30 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[24]_LC_172)
set_location config_register_latched_dec_inst1.STATSR[24] 16 30 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[24]_LC_172)
set_location config_register_latched_dec_inst1.STATSR_25_THRU_LUT4_0 16 31 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[25]_LC_173)
set_location config_register_latched_dec_inst1.STATSR[25] 16 31 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[25]_LC_173)
set_location config_register_latched_dec_inst1.STATSR_26_THRU_LUT4_0 16 31 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[26]_LC_174)
set_location config_register_latched_dec_inst1.STATSR[26] 16 31 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[26]_LC_174)
set_location config_register_latched_dec_inst1.STATSR_27_THRU_LUT4_0 16 31 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[27]_LC_175)
set_location config_register_latched_dec_inst1.STATSR[27] 16 31 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[27]_LC_175)
set_location config_register_latched_dec_inst1.STATSR_28_THRU_LUT4_0 16 31 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[28]_LC_176)
set_location config_register_latched_dec_inst1.STATSR[28] 16 31 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[28]_LC_176)
set_location config_register_latched_dec_inst1.STATSR_29_THRU_LUT4_0 16 31 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[29]_LC_177)
set_location config_register_latched_dec_inst1.STATSR[29] 16 31 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[29]_LC_177)
set_location config_register_latched_dec_inst1.STATSR_3_THRU_LUT4_0 10 24 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[3]_LC_178)
set_location config_register_latched_dec_inst1.STATSR[3] 10 24 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[3]_LC_178)
set_location config_register_latched_dec_inst1.STATSR_30_THRU_LUT4_0 16 30 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[30]_LC_179)
set_location config_register_latched_dec_inst1.STATSR[30] 16 30 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[30]_LC_179)
set_location config_register_latched_dec_inst1.STATSR_31_THRU_LUT4_0 16 30 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[31]_LC_180)
set_location config_register_latched_dec_inst1.STATSR[31] 16 30 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[31]_LC_180)
set_location config_register_latched_dec_inst1.STATSR_32_THRU_LUT4_0 16 30 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[32]_LC_181)
set_location config_register_latched_dec_inst1.STATSR[32] 16 30 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[32]_LC_181)
set_location config_register_latched_dec_inst1.STATSR_33_THRU_LUT4_0 16 29 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[33]_LC_182)
set_location config_register_latched_dec_inst1.STATSR[33] 16 29 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[33]_LC_182)
set_location config_register_latched_dec_inst1.STATSR_34_THRU_LUT4_0 16 29 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[34]_LC_183)
set_location config_register_latched_dec_inst1.STATSR[34] 16 29 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[34]_LC_183)
set_location config_register_latched_dec_inst1.STATSR_35_THRU_LUT4_0 16 29 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[35]_LC_184)
set_location config_register_latched_dec_inst1.STATSR[35] 16 29 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[35]_LC_184)
set_location config_register_latched_dec_inst1.STATSR_36_THRU_LUT4_0 17 29 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[36]_LC_185)
set_location config_register_latched_dec_inst1.STATSR[36] 17 29 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[36]_LC_185)
set_location config_register_latched_dec_inst1.STATSR_37_THRU_LUT4_0 17 29 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[37]_LC_186)
set_location config_register_latched_dec_inst1.STATSR[37] 17 29 6 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[37]_LC_186)
set_location config_register_latched_dec_inst1.STATSR_38_THRU_LUT4_0 17 28 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[38]_LC_187)
set_location config_register_latched_dec_inst1.STATSR[38] 17 28 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[38]_LC_187)
set_location config_register_latched_dec_inst1.STATSR_39_THRU_LUT4_0 17 28 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[39]_LC_188)
set_location config_register_latched_dec_inst1.STATSR[39] 17 28 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[39]_LC_188)
set_location config_register_latched_dec_inst1.STATSR_4_THRU_LUT4_0 10 24 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[4]_LC_189)
set_location config_register_latched_dec_inst1.STATSR[4] 10 24 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[4]_LC_189)
set_location config_register_latched_dec_inst1.STATSR_40_THRU_LUT4_0 17 28 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[40]_LC_190)
set_location config_register_latched_dec_inst1.STATSR[40] 17 28 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[40]_LC_190)
set_location config_register_latched_dec_inst1.STATSR_41_THRU_LUT4_0 17 28 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[41]_LC_191)
set_location config_register_latched_dec_inst1.STATSR[41] 17 28 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[41]_LC_191)
set_location config_register_latched_dec_inst1.STATSR_42_THRU_LUT4_0 17 27 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[42]_LC_192)
set_location config_register_latched_dec_inst1.STATSR[42] 17 27 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[42]_LC_192)
set_location config_register_latched_dec_inst1.STATSR_43_THRU_LUT4_0 17 27 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[43]_LC_193)
set_location config_register_latched_dec_inst1.STATSR[43] 17 27 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[43]_LC_193)
set_location config_register_latched_dec_inst1.STATSR_44_THRU_LUT4_0 17 27 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[44]_LC_194)
set_location config_register_latched_dec_inst1.STATSR[44] 17 27 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[44]_LC_194)
set_location config_register_latched_dec_inst1.STATSR_45_THRU_LUT4_0 17 27 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[45]_LC_195)
set_location config_register_latched_dec_inst1.STATSR[45] 17 27 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[45]_LC_195)
set_location config_register_latched_dec_inst1.STATSR_46_THRU_LUT4_0 17 27 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[46]_LC_196)
set_location config_register_latched_dec_inst1.STATSR[46] 17 27 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[46]_LC_196)
set_location config_register_latched_dec_inst1.STATSR_47_THRU_LUT4_0 17 27 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[47]_LC_197)
set_location config_register_latched_dec_inst1.STATSR[47] 17 27 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[47]_LC_197)
set_location config_register_latched_dec_inst1.STATSR_48_THRU_LUT4_0 17 27 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[48]_LC_198)
set_location config_register_latched_dec_inst1.STATSR[48] 17 27 1 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[48]_LC_198)
set_location config_register_latched_dec_inst1.STATSR_49_THRU_LUT4_0 16 27 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[49]_LC_199)
set_location config_register_latched_dec_inst1.STATSR[49] 16 27 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[49]_LC_199)
set_location config_register_latched_dec_inst1.STATSR_5_THRU_LUT4_0 11 24 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[5]_LC_200)
set_location config_register_latched_dec_inst1.STATSR[5] 11 24 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[5]_LC_200)
set_location config_register_latched_dec_inst1.STATSR_50_THRU_LUT4_0 16 27 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[50]_LC_201)
set_location config_register_latched_dec_inst1.STATSR[50] 16 27 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[50]_LC_201)
set_location config_register_latched_dec_inst1.STATSR_51_THRU_LUT4_0 16 27 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[51]_LC_202)
set_location config_register_latched_dec_inst1.STATSR[51] 16 27 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[51]_LC_202)
set_location config_register_latched_dec_inst1.STATSR_52_THRU_LUT4_0 16 28 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[52]_LC_203)
set_location config_register_latched_dec_inst1.STATSR[52] 16 28 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[52]_LC_203)
set_location config_register_latched_dec_inst1.STATSR_53_THRU_LUT4_0 16 28 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[53]_LC_204)
set_location config_register_latched_dec_inst1.STATSR[53] 16 28 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[53]_LC_204)
set_location config_register_latched_dec_inst1.STATSR_54_THRU_LUT4_0 16 28 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[54]_LC_205)
set_location config_register_latched_dec_inst1.STATSR[54] 16 28 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[54]_LC_205)
set_location config_register_latched_dec_inst1.STATSR_55_THRU_LUT4_0 16 28 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[55]_LC_206)
set_location config_register_latched_dec_inst1.STATSR[55] 16 28 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[55]_LC_206)
set_location config_register_latched_dec_inst1.STATSR_56_THRU_LUT4_0 15 28 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[56]_LC_207)
set_location config_register_latched_dec_inst1.STATSR[56] 15 28 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[56]_LC_207)
set_location config_register_latched_dec_inst1.STATSR_57_THRU_LUT4_0 15 29 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[57]_LC_208)
set_location config_register_latched_dec_inst1.STATSR[57] 15 29 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[57]_LC_208)
set_location config_register_latched_dec_inst1.STATSR_58_THRU_LUT4_0 15 29 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[58]_LC_209)
set_location config_register_latched_dec_inst1.STATSR[58] 15 29 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[58]_LC_209)
set_location config_register_latched_dec_inst1.STATSR_59_THRU_LUT4_0 15 29 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[59]_LC_210)
set_location config_register_latched_dec_inst1.STATSR[59] 15 29 7 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[59]_LC_210)
set_location config_register_latched_dec_inst1.STATSR_6_THRU_LUT4_0 12 24 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[6]_LC_211)
set_location config_register_latched_dec_inst1.STATSR[6] 12 24 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[6]_LC_211)
set_location config_register_latched_dec_inst1.STATSR_60_THRU_LUT4_0 15 29 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[60]_LC_212)
set_location config_register_latched_dec_inst1.STATSR[60] 15 29 2 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[60]_LC_212)
set_location config_register_latched_dec_inst1.STATSR_61_THRU_LUT4_0 14 29 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[61]_LC_213)
set_location config_register_latched_dec_inst1.STATSR[61] 14 29 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[61]_LC_213)
set_location config_register_latched_dec_inst1.STATSR_62_THRU_LUT4_0 14 29 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[62]_LC_214)
set_location config_register_latched_dec_inst1.STATSR[62] 14 29 3 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[62]_LC_214)
set_location config_register_latched_dec_inst1.STATSR_63_THRU_LUT4_0 14 29 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[63]_LC_215)
set_location config_register_latched_dec_inst1.STATSR[63] 14 29 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[63]_LC_215)
set_location config_register_latched_dec_inst1.STATSR_64_THRU_LUT4_0 14 29 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[64]_LC_216)
set_location config_register_latched_dec_inst1.STATSR[64] 14 29 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[64]_LC_216)
set_location config_register_latched_dec_inst1.STATSR_65_THRU_LUT4_0 14 29 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[65]_LC_217)
set_location config_register_latched_dec_inst1.STATSR[65] 14 29 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[65]_LC_217)
set_location config_register_latched_dec_inst1.STATSR_66_THRU_LUT4_0 14 28 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[66]_LC_218)
set_location config_register_latched_dec_inst1.STATSR[66] 14 28 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[66]_LC_218)
set_location config_register_latched_dec_inst1.STATSR_67_THRU_LUT4_0 14 28 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[67]_LC_219)
set_location config_register_latched_dec_inst1.STATSR[67] 14 28 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[67]_LC_219)
set_location config_register_latched_dec_inst1.STATSR_68_THRU_LUT4_0 14 28 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[68]_LC_220)
set_location config_register_latched_dec_inst1.STATSR[68] 14 28 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[68]_LC_220)
set_location config_register_latched_dec_inst1.STATSR_69_THRU_LUT4_0 14 28 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[69]_LC_221)
set_location config_register_latched_dec_inst1.STATSR[69] 14 28 0 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[69]_LC_221)
set_location config_register_latched_dec_inst1.STATSR_7_THRU_LUT4_0 12 25 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[7]_LC_222)
set_location config_register_latched_dec_inst1.STATSR[7] 12 25 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[7]_LC_222)
set_location config_register_latched_dec_inst1.STATSR_70_THRU_LUT4_0 14 28 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[70]_LC_223)
set_location config_register_latched_dec_inst1.STATSR[70] 14 28 5 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[70]_LC_223)
set_location config_register_latched_dec_inst1.STATSR_71_THRU_LUT4_0 14 28 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[71]_LC_224)
set_location config_register_latched_dec_inst1.STATSR[71] 14 28 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[71]_LC_224)
set_location config_register_latched_dec_inst1.STATSR_72_THRU_LUT4_0 14 28 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[72]_LC_225)
set_location config_register_latched_dec_inst1.STATSR[72] 14 28 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[72]_LC_225)
set_location config_register_latched_dec_inst1.STATSR_73_THRU_LUT4_0 14 27 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[73]_LC_226)
set_location config_register_latched_dec_inst1.STATSR[73] 14 27 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[73]_LC_226)
set_location config_register_latched_dec_inst1.STATSR_74_THRU_LUT4_0 14 26 2 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[74]_LC_227)
set_location config_register_latched_dec_inst1.STATSR[74] 14 26 2 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[74]_LC_227)
set_location config_register_latched_dec_inst1.STATSR_75_THRU_LUT4_0 14 26 3 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[75]_LC_228)
set_location config_register_latched_dec_inst1.STATSR[75] 14 26 3 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[75]_LC_228)
set_location config_register_latched_dec_inst1.STATSR_76_THRU_LUT4_0 14 26 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[76]_LC_229)
set_location config_register_latched_dec_inst1.STATSR[76] 14 26 6 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[76]_LC_229)
set_location config_register_latched_dec_inst1.STATSR_77_THRU_LUT4_0 13 25 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[77]_LC_230)
set_location config_register_latched_dec_inst1.STATSR[77] 13 25 4 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[77]_LC_230)
set_location config_register_latched_dec_inst1.STATSR_78_THRU_LUT4_0 13 25 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[78]_LC_231)
set_location config_register_latched_dec_inst1.STATSR[78] 13 25 1 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[78]_LC_231)
set_location config_register_latched_dec_inst1.STATSR_79_THRU_LUT4_0 13 24 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[79]_LC_232)
set_location config_register_latched_dec_inst1.STATSR[79] 13 24 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[79]_LC_232)
set_location config_register_latched_dec_inst1.STATSR_8_THRU_LUT4_0 12 26 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[8]_LC_233)
set_location config_register_latched_dec_inst1.STATSR[8] 12 26 1 # SB_DFFES (LogicCell: config_register_latched_dec_inst1.STATSR[8]_LC_233)
set_location config_register_latched_dec_inst1.STATSR_80_THRU_LUT4_0 13 24 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[80]_LC_234)
set_location config_register_latched_dec_inst1.STATSR[80] 13 24 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[80]_LC_234)
set_location config_register_latched_dec_inst1.STATSR_81_THRU_LUT4_0 13 24 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[81]_LC_235)
set_location config_register_latched_dec_inst1.STATSR[81] 13 24 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[81]_LC_235)
set_location config_register_latched_dec_inst1.STATSR_82_THRU_LUT4_0 12 24 4 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[82]_LC_236)
set_location config_register_latched_dec_inst1.STATSR[82] 12 24 4 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[82]_LC_236)
set_location config_register_latched_dec_inst1.STATSR_83_THRU_LUT4_0 11 24 0 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[83]_LC_237)
set_location config_register_latched_dec_inst1.STATSR[83] 11 24 0 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[83]_LC_237)
set_location config_register_latched_dec_inst1.STATSR_84_THRU_LUT4_0 10 24 7 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[84]_LC_238)
set_location config_register_latched_dec_inst1.STATSR[84] 10 24 7 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[84]_LC_238)
set_location config_register_latched_dec_inst1.STATSR_85_THRU_LUT4_0 9 24 5 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[85]_LC_239)
set_location config_register_latched_dec_inst1.STATSR[85] 9 24 5 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[85]_LC_239)
set_location config_register_latched_dec_inst1.STATSR_86_THRU_LUT4_0 9 24 6 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[86]_LC_240)
set_location config_register_latched_dec_inst1.STATSR[86] 9 24 6 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[86]_LC_240)
set_location config_register_latched_dec_inst1.STATSR_87_THRU_LUT4_0 9 23 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[87]_LC_241)
set_location config_register_latched_dec_inst1.STATSR[87] 9 23 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[87]_LC_241)
set_location config_register_latched_dec_inst1.STATSR_9_THRU_LUT4_0 12 27 1 # SB_LUT4 (LogicCell: config_register_latched_dec_inst1.STATSR[9]_LC_242)
set_location config_register_latched_dec_inst1.STATSR[9] 12 27 1 # SB_DFFER (LogicCell: config_register_latched_dec_inst1.STATSR[9]_LC_242)
set_location fsm_ctrl_inst1.CLK_uC_0_THRU_LUT4_0 6 24 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.CLK_uC[0]_LC_243)
set_location fsm_ctrl_inst1.CLK_uC[0] 6 24 1 # SB_DFFR (LogicCell: fsm_ctrl_inst1.CLK_uC[0]_LC_243)
set_location fsm_ctrl_inst1.SEL_THRU_LUT4_0 7 22 0 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.SEL_LC_244)
set_location fsm_ctrl_inst1.SEL 7 22 0 # SB_DFFS (LogicCell: fsm_ctrl_inst1.SEL_LC_244)
set_location fsm_ctrl_inst1.current_state_RNI1GR8_0_fsm_ctrl_inst1.bit_sequence_din_0_REP_LUT4_0 5 23 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_din[0]_LC_245)
set_location fsm_ctrl_inst1.bit_sequence_din[0] 5 23 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_din[0]_LC_245)
set_location fsm_ctrl_inst1.current_state_RNI2HR8_1_fsm_ctrl_inst1.bit_sequence_stat_0_REP_LUT4_0 5 20 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[0]_LC_246)
set_location fsm_ctrl_inst1.bit_sequence_stat[0] 5 20 1 # SB_DFFES (LogicCell: fsm_ctrl_inst1.bit_sequence_stat[0]_LC_246)
set_location fsm_ctrl_inst1.toggle_clk_uC2_0_THRU_LUT4_0 7 26 3 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.toggle_clk_uC2[0]_LC_247)
set_location fsm_ctrl_inst1.toggle_clk_uC2[0] 7 26 3 # SB_DFFR (LogicCell: fsm_ctrl_inst1.toggle_clk_uC2[0]_LC_247)
set_location fsm_ctrl_inst1.toggle_clk_uC3_0_THRU_LUT4_0 7 26 1 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.toggle_clk_uC3[0]_LC_248)
set_location fsm_ctrl_inst1.toggle_clk_uC3[0] 7 26 1 # SB_DFFR (LogicCell: fsm_ctrl_inst1.toggle_clk_uC3[0]_LC_248)
set_location fsm_ctrl_inst1.toggle_clk_uC4_0_THRU_LUT4_0 6 25 6 # SB_LUT4 (LogicCell: fsm_ctrl_inst1.toggle_clk_uC4[0]_LC_249)
set_location fsm_ctrl_inst1.toggle_clk_uC4[0] 6 25 6 # SB_DFFR (LogicCell: fsm_ctrl_inst1.toggle_clk_uC4[0]_LC_249)
set_io CLK_fast_ibuf_gb_io 0 17 0 # ICE_GB_IO
set_io CLK_ibuf_gb_io 16 33 1 # ICE_GB_IO
set_location GND -1 -1 -1 # GND
set_io N_224_g_gb 17 33 0 # ICE_GB
set_io RST_N_ibuf 0 16 0 # ICE_IO
set_io RST_N_ibuf_RNIBJGC_0 0 16 1 # ICE_GB
set_io SDO_signal_out_obuf 0 3 0 # ICE_IO
set_io fsm_ctrl_inst1.current_state_RNI1GR8_0[0] 0 17 0 # ICE_GB
