set_location RST_N_ibuf_RNIBJGC 5 16 0 # SB_LUT4 (LogicCell: RST_N_ibuf_RNIBJGC_LC_0)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[10] 14 14 4 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[10]_LC_1)
set_location fsm_shiftRegs_inst1.bit_sequence[10] 14 14 4 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[10]_LC_1)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[11] 14 14 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[11]_LC_2)
set_location fsm_shiftRegs_inst1.bit_sequence[11] 14 14 1 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[11]_LC_2)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[12] 14 14 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[12]_LC_3)
set_location fsm_shiftRegs_inst1.bit_sequence[12] 14 14 2 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[12]_LC_3)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[13] 14 14 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[13]_LC_4)
set_location fsm_shiftRegs_inst1.bit_sequence[13] 14 14 3 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[13]_LC_4)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[14] 14 14 5 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[14]_LC_5)
set_location fsm_shiftRegs_inst1.bit_sequence[14] 14 14 5 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[14]_LC_5)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[15] 14 14 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[15]_LC_6)
set_location fsm_shiftRegs_inst1.bit_sequence[15] 14 14 0 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[15]_LC_6)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[3] 14 13 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[3]_LC_7)
set_location fsm_shiftRegs_inst1.bit_sequence[3] 14 13 0 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[3]_LC_7)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[4] 14 13 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[4]_LC_8)
set_location fsm_shiftRegs_inst1.bit_sequence[4] 14 13 2 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[4]_LC_8)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[5] 14 13 5 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[5]_LC_9)
set_location fsm_shiftRegs_inst1.bit_sequence[5] 14 13 5 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[5]_LC_9)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[6] 14 13 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[6]_LC_10)
set_location fsm_shiftRegs_inst1.bit_sequence[6] 14 13 3 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[6]_LC_10)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[7] 14 13 4 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[7]_LC_11)
set_location fsm_shiftRegs_inst1.bit_sequence[7] 14 13 4 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[7]_LC_11)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[8] 14 14 7 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[8]_LC_12)
set_location fsm_shiftRegs_inst1.bit_sequence[8] 14 14 7 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[8]_LC_12)
set_location fsm_shiftRegs_inst1.bit_sequence_RNO[9] 14 14 6 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[9]_LC_13)
set_location fsm_shiftRegs_inst1.bit_sequence[9] 14 14 6 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[9]_LC_13)
set_location fsm_shiftRegs_inst1.counter2_RNITAO81[7] 13 15 4 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2_RNITAO81[7]_LC_14)
set_location fsm_shiftRegs_inst1.counter2_RNO[0] 14 15 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[0]_LC_15)
set_location fsm_shiftRegs_inst1.counter2[0] 14 15 0 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[0]_LC_15)
set_location fsm_shiftRegs_inst1.counter2_cry_c[0] 14 15 0 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[0]_LC_15)
set_location fsm_shiftRegs_inst1.counter2_RNO[1] 14 15 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[1]_LC_16)
set_location fsm_shiftRegs_inst1.counter2[1] 14 15 1 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[1]_LC_16)
set_location fsm_shiftRegs_inst1.counter2_cry_c[1] 14 15 1 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[1]_LC_16)
set_location fsm_shiftRegs_inst1.counter2_RNO[2] 14 15 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[2]_LC_17)
set_location fsm_shiftRegs_inst1.counter2[2] 14 15 2 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[2]_LC_17)
set_location fsm_shiftRegs_inst1.counter2_cry_c[2] 14 15 2 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[2]_LC_17)
set_location fsm_shiftRegs_inst1.counter2_RNO[3] 14 15 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[3]_LC_18)
set_location fsm_shiftRegs_inst1.counter2[3] 14 15 3 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[3]_LC_18)
set_location fsm_shiftRegs_inst1.counter2_cry_c[3] 14 15 3 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[3]_LC_18)
set_location fsm_shiftRegs_inst1.counter2_RNO[4] 14 15 4 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[4]_LC_19)
set_location fsm_shiftRegs_inst1.counter2[4] 14 15 4 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[4]_LC_19)
set_location fsm_shiftRegs_inst1.counter2_cry_c[4] 14 15 4 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[4]_LC_19)
set_location fsm_shiftRegs_inst1.counter2_RNO[5] 14 15 5 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[5]_LC_20)
set_location fsm_shiftRegs_inst1.counter2[5] 14 15 5 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[5]_LC_20)
set_location fsm_shiftRegs_inst1.counter2_cry_c[5] 14 15 5 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[5]_LC_20)
set_location fsm_shiftRegs_inst1.counter2_RNO[6] 14 15 6 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[6]_LC_21)
set_location fsm_shiftRegs_inst1.counter2[6] 14 15 6 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[6]_LC_21)
set_location fsm_shiftRegs_inst1.counter2_cry_c[6] 14 15 6 # SB_CARRY (LogicCell: fsm_shiftRegs_inst1.counter2[6]_LC_21)
set_location fsm_shiftRegs_inst1.counter2_RNO[7] 14 15 7 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter2[7]_LC_22)
set_location fsm_shiftRegs_inst1.counter2[7] 14 15 7 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter2[7]_LC_22)
set_location fsm_shiftRegs_inst1.counterDYN_RNO[0] 13 13 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counterDYN[0]_LC_23)
set_location fsm_shiftRegs_inst1.counterDYN[0] 13 13 2 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counterDYN[0]_LC_23)
set_location fsm_shiftRegs_inst1.counterDYN_RNO_0[3] 13 13 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counterDYN_RNO_0[3]_LC_24)
set_location fsm_shiftRegs_inst1.counterDYN_RNO[1] 13 13 7 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counterDYN[1]_LC_25)
set_location fsm_shiftRegs_inst1.counterDYN[1] 13 13 7 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counterDYN[1]_LC_25)
set_location fsm_shiftRegs_inst1.counterDYN_RNO[2] 13 13 6 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counterDYN[2]_LC_26)
set_location fsm_shiftRegs_inst1.counterDYN[2] 13 13 6 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counterDYN[2]_LC_26)
set_location fsm_shiftRegs_inst1.counterDYN_RNO[3] 13 13 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counterDYN[3]_LC_27)
set_location fsm_shiftRegs_inst1.counterDYN[3] 13 13 1 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counterDYN[3]_LC_27)
set_location fsm_shiftRegs_inst1.counter_RNIC589[1] 12 13 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter_RNIC589[1]_LC_28)
set_location fsm_shiftRegs_inst1.counter_RNO[0] 11 13 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter[0]_LC_29)
set_location fsm_shiftRegs_inst1.counter[0] 11 13 1 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter[0]_LC_29)
set_location fsm_shiftRegs_inst1.counter_RNO_0[2] 12 13 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter_RNO_0[2]_LC_30)
set_location fsm_shiftRegs_inst1.counter_RNO_0[3] 12 13 6 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter_RNO_0[3]_LC_31)
set_location fsm_shiftRegs_inst1.counter_RNO[1] 11 13 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter[1]_LC_32)
set_location fsm_shiftRegs_inst1.counter[1] 11 13 2 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter[1]_LC_32)
set_location fsm_shiftRegs_inst1.counter_RNO[2] 12 13 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter[2]_LC_33)
set_location fsm_shiftRegs_inst1.counter[2] 12 13 1 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter[2]_LC_33)
set_location fsm_shiftRegs_inst1.counter_RNO[3] 12 13 7 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.counter[3]_LC_34)
set_location fsm_shiftRegs_inst1.counter[3] 12 13 7 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.counter[3]_LC_34)
set_location fsm_shiftRegs_inst1.current_state_RNI7RPG[1] 13 14 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNI7RPG[1]_LC_35)
set_location fsm_shiftRegs_inst1.current_state_RNIVA94[4] 13 15 5 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNIVA94[4]_LC_36)
set_location fsm_shiftRegs_inst1.current_state_RNO[0] 13 15 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state[0]_LC_37)
set_location fsm_shiftRegs_inst1.current_state[0] 13 15 3 # SB_DFFS (LogicCell: fsm_shiftRegs_inst1.current_state[0]_LC_37)
set_location fsm_shiftRegs_inst1.current_state_RNO_0[0] 13 15 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNO_0[0]_LC_38)
set_location fsm_shiftRegs_inst1.current_state_RNO_0[2] 13 13 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNO_0[2]_LC_39)
set_location fsm_shiftRegs_inst1.current_state_RNO_0[3] 13 13 5 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNO_0[3]_LC_40)
set_location fsm_shiftRegs_inst1.current_state_RNO_0[4] 13 15 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNO_0[4]_LC_41)
set_location fsm_shiftRegs_inst1.current_state_RNO[1] 12 14 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state[1]_LC_42)
set_location fsm_shiftRegs_inst1.current_state[1] 12 14 2 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.current_state[1]_LC_42)
set_location fsm_shiftRegs_inst1.current_state_RNO_1[2] 13 14 3 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state_RNO_1[2]_LC_43)
set_location fsm_shiftRegs_inst1.current_state_RNO[2] 13 13 4 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state[2]_LC_44)
set_location fsm_shiftRegs_inst1.current_state[2] 13 13 4 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.current_state[2]_LC_44)
set_location fsm_shiftRegs_inst1.current_state_RNO[3] 12 14 7 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state[3]_LC_45)
set_location fsm_shiftRegs_inst1.current_state[3] 12 14 7 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.current_state[3]_LC_45)
set_location fsm_shiftRegs_inst1.current_state_RNO[4] 13 15 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.current_state[4]_LC_46)
set_location fsm_shiftRegs_inst1.current_state[4] 13 15 1 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.current_state[4]_LC_46)
set_location fsm_shiftRegs_inst1.sel_dyn_RNO 12 15 2 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.sel_dyn_LC_47)
set_location fsm_shiftRegs_inst1.sel_dyn 12 15 2 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.sel_dyn_LC_47)
set_location fsm_shiftRegs_inst1.signal_out_RNO 13 14 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.signal_out_LC_48)
set_location fsm_shiftRegs_inst1.signal_out 13 14 0 # SB_DFF (LogicCell: fsm_shiftRegs_inst1.signal_out_LC_48)
set_location generator_inst1.signal_aux_RNO 13 15 7 # SB_LUT4 (LogicCell: generator_inst1.signal_aux_LC_49)
set_location generator_inst1.signal_aux 13 15 7 # SB_DFFR (LogicCell: generator_inst1.signal_aux_LC_49)
set_location enableDin_aux_THRU_LUT4_0 13 11 2 # SB_LUT4 (LogicCell: enableDin_aux_LC_50)
set_location enableDin_aux 13 11 2 # SB_DFF (LogicCell: enableDin_aux_LC_50)
set_location fsm_shiftRegs_inst1.bit_sequence_2_THRU_LUT4_0 14 13 1 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.bit_sequence[2]_LC_51)
set_location fsm_shiftRegs_inst1.bit_sequence[2] 14 13 1 # SB_DFFE (LogicCell: fsm_shiftRegs_inst1.bit_sequence[2]_LC_51)
set_location fsm_shiftRegs_inst1.en_fin_THRU_LUT4_0 13 12 6 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.en_fin_LC_52)
set_location fsm_shiftRegs_inst1.en_fin 13 12 6 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.en_fin_LC_52)
set_location fsm_shiftRegs_inst1.sel_stat_THRU_LUT4_0 12 15 0 # SB_LUT4 (LogicCell: fsm_shiftRegs_inst1.sel_stat_LC_53)
set_location fsm_shiftRegs_inst1.sel_stat 12 15 0 # SB_DFFR (LogicCell: fsm_shiftRegs_inst1.sel_stat_LC_53)
set_io CLK_ibuf_gb_io 0 17 0 # ICE_GB_IO
set_io ENdin_obuf 33 4 1 # ICE_IO
set_location GND -1 -1 -1 # GND
set_io RST_N_ibuf 33 21 1 # ICE_IO
set_io RST_N_ibuf_RNIBJGC_0 0 16 1 # ICE_GB
set_io generated_signal_obuf 30 33 1 # ICE_IO
