# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Mar 12 2025 15:58:46

# Family & Device:    iCE40LP8K

# Package:            CM81

# ##############################################################################

###IOSet List 2
set_io RST_N A9
set_io signal_out B8
set_io CLK B2

