ble_pack RST_N_ibuf_RNIBJGC_LC_5_16_0 { RST_N_ibuf_RNIBJGC }
clb_pack LT_5_16 { RST_N_ibuf_RNIBJGC_LC_5_16_0 }
set_location LT_5_16 5 16
ble_pack fsm_shiftRegs_inst1.counter_0_LC_11_13_1 { fsm_shiftRegs_inst1.counter_RNO[0], fsm_shiftRegs_inst1.counter[0] }
ble_pack fsm_shiftRegs_inst1.counter_1_LC_11_13_2 { fsm_shiftRegs_inst1.counter_RNO[1], fsm_shiftRegs_inst1.counter[1] }
clb_pack LT_11_13 { fsm_shiftRegs_inst1.counter_0_LC_11_13_1, fsm_shiftRegs_inst1.counter_1_LC_11_13_2 }
set_location LT_11_13 11 13
ble_pack fsm_shiftRegs_inst1.counter_RNO_0_2_LC_12_13_0 { fsm_shiftRegs_inst1.counter_RNO_0[2] }
ble_pack fsm_shiftRegs_inst1.counter_2_LC_12_13_1 { fsm_shiftRegs_inst1.counter_RNO[2], fsm_shiftRegs_inst1.counter[2] }
ble_pack fsm_shiftRegs_inst1.counter_RNIC589_1_LC_12_13_3 { fsm_shiftRegs_inst1.counter_RNIC589[1] }
ble_pack fsm_shiftRegs_inst1.counter_RNO_0_3_LC_12_13_6 { fsm_shiftRegs_inst1.counter_RNO_0[3] }
ble_pack fsm_shiftRegs_inst1.counter_3_LC_12_13_7 { fsm_shiftRegs_inst1.counter_RNO[3], fsm_shiftRegs_inst1.counter[3] }
clb_pack LT_12_13 { fsm_shiftRegs_inst1.counter_RNO_0_2_LC_12_13_0, fsm_shiftRegs_inst1.counter_2_LC_12_13_1, fsm_shiftRegs_inst1.counter_RNIC589_1_LC_12_13_3, fsm_shiftRegs_inst1.counter_RNO_0_3_LC_12_13_6, fsm_shiftRegs_inst1.counter_3_LC_12_13_7 }
set_location LT_12_13 12 13
ble_pack fsm_shiftRegs_inst1.current_state_1_LC_12_14_2 { fsm_shiftRegs_inst1.current_state_RNO[1], fsm_shiftRegs_inst1.current_state[1] }
ble_pack fsm_shiftRegs_inst1.current_state_3_LC_12_14_7 { fsm_shiftRegs_inst1.current_state_RNO[3], fsm_shiftRegs_inst1.current_state[3] }
clb_pack LT_12_14 { fsm_shiftRegs_inst1.current_state_1_LC_12_14_2, fsm_shiftRegs_inst1.current_state_3_LC_12_14_7 }
set_location LT_12_14 12 14
ble_pack fsm_shiftRegs_inst1.sel_stat_LC_12_15_0 { fsm_shiftRegs_inst1.sel_stat_THRU_LUT4_0, fsm_shiftRegs_inst1.sel_stat }
ble_pack fsm_shiftRegs_inst1.sel_dyn_LC_12_15_2 { fsm_shiftRegs_inst1.sel_dyn_RNO, fsm_shiftRegs_inst1.sel_dyn }
clb_pack LT_12_15 { fsm_shiftRegs_inst1.sel_stat_LC_12_15_0, fsm_shiftRegs_inst1.sel_dyn_LC_12_15_2 }
set_location LT_12_15 12 15
ble_pack enableDin_aux_LC_13_11_2 { enableDin_aux_THRU_LUT4_0, enableDin_aux }
clb_pack LT_13_11 { enableDin_aux_LC_13_11_2 }
set_location LT_13_11 13 11
ble_pack fsm_shiftRegs_inst1.en_fin_LC_13_12_6 { fsm_shiftRegs_inst1.en_fin_THRU_LUT4_0, fsm_shiftRegs_inst1.en_fin }
clb_pack LT_13_12 { fsm_shiftRegs_inst1.en_fin_LC_13_12_6 }
set_location LT_13_12 13 12
ble_pack fsm_shiftRegs_inst1.counterDYN_RNO_0_3_LC_13_13_0 { fsm_shiftRegs_inst1.counterDYN_RNO_0[3] }
ble_pack fsm_shiftRegs_inst1.counterDYN_3_LC_13_13_1 { fsm_shiftRegs_inst1.counterDYN_RNO[3], fsm_shiftRegs_inst1.counterDYN[3] }
ble_pack fsm_shiftRegs_inst1.counterDYN_0_LC_13_13_2 { fsm_shiftRegs_inst1.counterDYN_RNO[0], fsm_shiftRegs_inst1.counterDYN[0] }
ble_pack fsm_shiftRegs_inst1.current_state_RNO_0_2_LC_13_13_3 { fsm_shiftRegs_inst1.current_state_RNO_0[2] }
ble_pack fsm_shiftRegs_inst1.current_state_2_LC_13_13_4 { fsm_shiftRegs_inst1.current_state_RNO[2], fsm_shiftRegs_inst1.current_state[2] }
ble_pack fsm_shiftRegs_inst1.current_state_RNO_0_3_LC_13_13_5 { fsm_shiftRegs_inst1.current_state_RNO_0[3] }
ble_pack fsm_shiftRegs_inst1.counterDYN_2_LC_13_13_6 { fsm_shiftRegs_inst1.counterDYN_RNO[2], fsm_shiftRegs_inst1.counterDYN[2] }
ble_pack fsm_shiftRegs_inst1.counterDYN_1_LC_13_13_7 { fsm_shiftRegs_inst1.counterDYN_RNO[1], fsm_shiftRegs_inst1.counterDYN[1] }
clb_pack LT_13_13 { fsm_shiftRegs_inst1.counterDYN_RNO_0_3_LC_13_13_0, fsm_shiftRegs_inst1.counterDYN_3_LC_13_13_1, fsm_shiftRegs_inst1.counterDYN_0_LC_13_13_2, fsm_shiftRegs_inst1.current_state_RNO_0_2_LC_13_13_3, fsm_shiftRegs_inst1.current_state_2_LC_13_13_4, fsm_shiftRegs_inst1.current_state_RNO_0_3_LC_13_13_5, fsm_shiftRegs_inst1.counterDYN_2_LC_13_13_6, fsm_shiftRegs_inst1.counterDYN_1_LC_13_13_7 }
set_location LT_13_13 13 13
ble_pack fsm_shiftRegs_inst1.signal_out_LC_13_14_0 { fsm_shiftRegs_inst1.signal_out_RNO, fsm_shiftRegs_inst1.signal_out }
ble_pack fsm_shiftRegs_inst1.current_state_RNI7RPG_1_LC_13_14_2 { fsm_shiftRegs_inst1.current_state_RNI7RPG[1] }
ble_pack fsm_shiftRegs_inst1.current_state_RNO_1_2_LC_13_14_3 { fsm_shiftRegs_inst1.current_state_RNO_1[2] }
clb_pack LT_13_14 { fsm_shiftRegs_inst1.signal_out_LC_13_14_0, fsm_shiftRegs_inst1.current_state_RNI7RPG_1_LC_13_14_2, fsm_shiftRegs_inst1.current_state_RNO_1_2_LC_13_14_3 }
set_location LT_13_14 13 14
ble_pack fsm_shiftRegs_inst1.current_state_RNO_0_4_LC_13_15_0 { fsm_shiftRegs_inst1.current_state_RNO_0[4] }
ble_pack fsm_shiftRegs_inst1.current_state_4_LC_13_15_1 { fsm_shiftRegs_inst1.current_state_RNO[4], fsm_shiftRegs_inst1.current_state[4] }
ble_pack fsm_shiftRegs_inst1.current_state_RNO_0_0_LC_13_15_2 { fsm_shiftRegs_inst1.current_state_RNO_0[0] }
ble_pack fsm_shiftRegs_inst1.current_state_0_LC_13_15_3 { fsm_shiftRegs_inst1.current_state_RNO[0], fsm_shiftRegs_inst1.current_state[0] }
ble_pack fsm_shiftRegs_inst1.counter2_RNITAO81_7_LC_13_15_4 { fsm_shiftRegs_inst1.counter2_RNITAO81[7] }
ble_pack fsm_shiftRegs_inst1.current_state_RNIVA94_4_LC_13_15_5 { fsm_shiftRegs_inst1.current_state_RNIVA94[4] }
ble_pack generator_inst1.signal_aux_LC_13_15_7 { generator_inst1.signal_aux_RNO, generator_inst1.signal_aux }
clb_pack LT_13_15 { fsm_shiftRegs_inst1.current_state_RNO_0_4_LC_13_15_0, fsm_shiftRegs_inst1.current_state_4_LC_13_15_1, fsm_shiftRegs_inst1.current_state_RNO_0_0_LC_13_15_2, fsm_shiftRegs_inst1.current_state_0_LC_13_15_3, fsm_shiftRegs_inst1.counter2_RNITAO81_7_LC_13_15_4, fsm_shiftRegs_inst1.current_state_RNIVA94_4_LC_13_15_5, generator_inst1.signal_aux_LC_13_15_7 }
set_location LT_13_15 13 15
ble_pack fsm_shiftRegs_inst1.bit_sequence_3_LC_14_13_0 { fsm_shiftRegs_inst1.bit_sequence_RNO[3], fsm_shiftRegs_inst1.bit_sequence[3] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_2_LC_14_13_1 { fsm_shiftRegs_inst1.bit_sequence_2_THRU_LUT4_0, fsm_shiftRegs_inst1.bit_sequence[2] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_4_LC_14_13_2 { fsm_shiftRegs_inst1.bit_sequence_RNO[4], fsm_shiftRegs_inst1.bit_sequence[4] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_6_LC_14_13_3 { fsm_shiftRegs_inst1.bit_sequence_RNO[6], fsm_shiftRegs_inst1.bit_sequence[6] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_7_LC_14_13_4 { fsm_shiftRegs_inst1.bit_sequence_RNO[7], fsm_shiftRegs_inst1.bit_sequence[7] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_5_LC_14_13_5 { fsm_shiftRegs_inst1.bit_sequence_RNO[5], fsm_shiftRegs_inst1.bit_sequence[5] }
clb_pack LT_14_13 { fsm_shiftRegs_inst1.bit_sequence_3_LC_14_13_0, fsm_shiftRegs_inst1.bit_sequence_2_LC_14_13_1, fsm_shiftRegs_inst1.bit_sequence_4_LC_14_13_2, fsm_shiftRegs_inst1.bit_sequence_6_LC_14_13_3, fsm_shiftRegs_inst1.bit_sequence_7_LC_14_13_4, fsm_shiftRegs_inst1.bit_sequence_5_LC_14_13_5 }
set_location LT_14_13 14 13
ble_pack fsm_shiftRegs_inst1.bit_sequence_15_LC_14_14_0 { fsm_shiftRegs_inst1.bit_sequence_RNO[15], fsm_shiftRegs_inst1.bit_sequence[15] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_11_LC_14_14_1 { fsm_shiftRegs_inst1.bit_sequence_RNO[11], fsm_shiftRegs_inst1.bit_sequence[11] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_12_LC_14_14_2 { fsm_shiftRegs_inst1.bit_sequence_RNO[12], fsm_shiftRegs_inst1.bit_sequence[12] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_13_LC_14_14_3 { fsm_shiftRegs_inst1.bit_sequence_RNO[13], fsm_shiftRegs_inst1.bit_sequence[13] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_10_LC_14_14_4 { fsm_shiftRegs_inst1.bit_sequence_RNO[10], fsm_shiftRegs_inst1.bit_sequence[10] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_14_LC_14_14_5 { fsm_shiftRegs_inst1.bit_sequence_RNO[14], fsm_shiftRegs_inst1.bit_sequence[14] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_9_LC_14_14_6 { fsm_shiftRegs_inst1.bit_sequence_RNO[9], fsm_shiftRegs_inst1.bit_sequence[9] }
ble_pack fsm_shiftRegs_inst1.bit_sequence_8_LC_14_14_7 { fsm_shiftRegs_inst1.bit_sequence_RNO[8], fsm_shiftRegs_inst1.bit_sequence[8] }
clb_pack LT_14_14 { fsm_shiftRegs_inst1.bit_sequence_15_LC_14_14_0, fsm_shiftRegs_inst1.bit_sequence_11_LC_14_14_1, fsm_shiftRegs_inst1.bit_sequence_12_LC_14_14_2, fsm_shiftRegs_inst1.bit_sequence_13_LC_14_14_3, fsm_shiftRegs_inst1.bit_sequence_10_LC_14_14_4, fsm_shiftRegs_inst1.bit_sequence_14_LC_14_14_5, fsm_shiftRegs_inst1.bit_sequence_9_LC_14_14_6, fsm_shiftRegs_inst1.bit_sequence_8_LC_14_14_7 }
set_location LT_14_14 14 14
ble_pack fsm_shiftRegs_inst1.counter2_0_LC_14_15_0 { fsm_shiftRegs_inst1.counter2_RNO[0], fsm_shiftRegs_inst1.counter2[0], fsm_shiftRegs_inst1.counter2_cry_c[0] }
ble_pack fsm_shiftRegs_inst1.counter2_1_LC_14_15_1 { fsm_shiftRegs_inst1.counter2_RNO[1], fsm_shiftRegs_inst1.counter2[1], fsm_shiftRegs_inst1.counter2_cry_c[1] }
ble_pack fsm_shiftRegs_inst1.counter2_2_LC_14_15_2 { fsm_shiftRegs_inst1.counter2_RNO[2], fsm_shiftRegs_inst1.counter2[2], fsm_shiftRegs_inst1.counter2_cry_c[2] }
ble_pack fsm_shiftRegs_inst1.counter2_3_LC_14_15_3 { fsm_shiftRegs_inst1.counter2_RNO[3], fsm_shiftRegs_inst1.counter2[3], fsm_shiftRegs_inst1.counter2_cry_c[3] }
ble_pack fsm_shiftRegs_inst1.counter2_4_LC_14_15_4 { fsm_shiftRegs_inst1.counter2_RNO[4], fsm_shiftRegs_inst1.counter2[4], fsm_shiftRegs_inst1.counter2_cry_c[4] }
ble_pack fsm_shiftRegs_inst1.counter2_5_LC_14_15_5 { fsm_shiftRegs_inst1.counter2_RNO[5], fsm_shiftRegs_inst1.counter2[5], fsm_shiftRegs_inst1.counter2_cry_c[5] }
ble_pack fsm_shiftRegs_inst1.counter2_6_LC_14_15_6 { fsm_shiftRegs_inst1.counter2_RNO[6], fsm_shiftRegs_inst1.counter2[6], fsm_shiftRegs_inst1.counter2_cry_c[6] }
ble_pack fsm_shiftRegs_inst1.counter2_7_LC_14_15_7 { fsm_shiftRegs_inst1.counter2_RNO[7], fsm_shiftRegs_inst1.counter2[7] }
clb_pack LT_14_15 { fsm_shiftRegs_inst1.counter2_0_LC_14_15_0, fsm_shiftRegs_inst1.counter2_1_LC_14_15_1, fsm_shiftRegs_inst1.counter2_2_LC_14_15_2, fsm_shiftRegs_inst1.counter2_3_LC_14_15_3, fsm_shiftRegs_inst1.counter2_4_LC_14_15_4, fsm_shiftRegs_inst1.counter2_5_LC_14_15_5, fsm_shiftRegs_inst1.counter2_6_LC_14_15_6, fsm_shiftRegs_inst1.counter2_7_LC_14_15_7 }
set_location LT_14_15 14 15
set_location RST_N_ibuf_RNIBJGC_0 0 16
set_io generated_signal B8
set_io RST_N C9
set_io ENdin A9
set_io CLK D3
