ble_pack SEL_ibuf_RNI96K9_LC_1_14_5 { SEL_ibuf_RNI96K9 }
clb_pack LT_1_14 { SEL_ibuf_RNI96K9_LC_1_14_5 }
set_location LT_1_14 1 14
ble_pack config_register_latched_dec_inst1.DYNSR_RNIMVIN_14_LC_5_14_4 { config_register_latched_dec_inst1.DYNSR_RNIMVIN[14] }
clb_pack LT_5_14 { config_register_latched_dec_inst1.DYNSR_RNIMVIN_14_LC_5_14_4 }
set_location LT_5_14 5 14
ble_pack config_register_latched_dec_inst1.STATSR_47_LC_5_21_0 { config_register_latched_dec_inst1.STATSR_47_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[47] }
ble_pack config_register_latched_dec_inst1.STATSR_46_LC_5_21_1 { config_register_latched_dec_inst1.STATSR_46_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[46] }
ble_pack config_register_latched_dec_inst1.STATSR_41_LC_5_21_2 { config_register_latched_dec_inst1.STATSR_41_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[41] }
ble_pack config_register_latched_dec_inst1.STATSR_45_LC_5_21_3 { config_register_latched_dec_inst1.STATSR_45_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[45] }
ble_pack config_register_latched_dec_inst1.STATSR_44_LC_5_21_4 { config_register_latched_dec_inst1.STATSR_44_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[44] }
ble_pack config_register_latched_dec_inst1.STATSR_42_LC_5_21_6 { config_register_latched_dec_inst1.STATSR_42_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[42] }
ble_pack config_register_latched_dec_inst1.STATSR_43_LC_5_21_7 { config_register_latched_dec_inst1.STATSR_43_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[43] }
clb_pack LT_5_21 { config_register_latched_dec_inst1.STATSR_47_LC_5_21_0, config_register_latched_dec_inst1.STATSR_46_LC_5_21_1, config_register_latched_dec_inst1.STATSR_41_LC_5_21_2, config_register_latched_dec_inst1.STATSR_45_LC_5_21_3, config_register_latched_dec_inst1.STATSR_44_LC_5_21_4, config_register_latched_dec_inst1.STATSR_42_LC_5_21_6, config_register_latched_dec_inst1.STATSR_43_LC_5_21_7 }
set_location LT_5_21 5 21
ble_pack config_register_latched_dec_inst1.STATSR_54_LC_5_22_0 { config_register_latched_dec_inst1.STATSR_54_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[54] }
ble_pack config_register_latched_dec_inst1.STATSR_48_LC_5_22_1 { config_register_latched_dec_inst1.STATSR_48_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[48] }
ble_pack config_register_latched_dec_inst1.STATSR_51_LC_5_22_2 { config_register_latched_dec_inst1.STATSR_51_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[51] }
ble_pack config_register_latched_dec_inst1.STATSR_52_LC_5_22_3 { config_register_latched_dec_inst1.STATSR_52_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[52] }
ble_pack config_register_latched_dec_inst1.STATSR_53_LC_5_22_4 { config_register_latched_dec_inst1.STATSR_53_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[53] }
ble_pack config_register_latched_dec_inst1.STATSR_55_LC_5_22_5 { config_register_latched_dec_inst1.STATSR_55_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[55] }
ble_pack config_register_latched_dec_inst1.STATSR_49_LC_5_22_6 { config_register_latched_dec_inst1.STATSR_49_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[49] }
ble_pack config_register_latched_dec_inst1.STATSR_50_LC_5_22_7 { config_register_latched_dec_inst1.STATSR_50_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[50] }
clb_pack LT_5_22 { config_register_latched_dec_inst1.STATSR_54_LC_5_22_0, config_register_latched_dec_inst1.STATSR_48_LC_5_22_1, config_register_latched_dec_inst1.STATSR_51_LC_5_22_2, config_register_latched_dec_inst1.STATSR_52_LC_5_22_3, config_register_latched_dec_inst1.STATSR_53_LC_5_22_4, config_register_latched_dec_inst1.STATSR_55_LC_5_22_5, config_register_latched_dec_inst1.STATSR_49_LC_5_22_6, config_register_latched_dec_inst1.STATSR_50_LC_5_22_7 }
set_location LT_5_22 5 22
ble_pack config_register_latched_dec_inst1.STATSR_61_LC_5_23_0 { config_register_latched_dec_inst1.STATSR_61_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[61] }
ble_pack config_register_latched_dec_inst1.STATSR_56_LC_5_23_1 { config_register_latched_dec_inst1.STATSR_56_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[56] }
ble_pack config_register_latched_dec_inst1.STATSR_57_LC_5_23_2 { config_register_latched_dec_inst1.STATSR_57_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[57] }
ble_pack config_register_latched_dec_inst1.STATSR_63_LC_5_23_3 { config_register_latched_dec_inst1.STATSR_63_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[63] }
ble_pack config_register_latched_dec_inst1.STATSR_62_LC_5_23_4 { config_register_latched_dec_inst1.STATSR_62_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[62] }
ble_pack config_register_latched_dec_inst1.STATSR_59_LC_5_23_5 { config_register_latched_dec_inst1.STATSR_59_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[59] }
ble_pack config_register_latched_dec_inst1.STATSR_60_LC_5_23_6 { config_register_latched_dec_inst1.STATSR_60_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[60] }
ble_pack config_register_latched_dec_inst1.STATSR_58_LC_5_23_7 { config_register_latched_dec_inst1.STATSR_58_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[58] }
clb_pack LT_5_23 { config_register_latched_dec_inst1.STATSR_61_LC_5_23_0, config_register_latched_dec_inst1.STATSR_56_LC_5_23_1, config_register_latched_dec_inst1.STATSR_57_LC_5_23_2, config_register_latched_dec_inst1.STATSR_63_LC_5_23_3, config_register_latched_dec_inst1.STATSR_62_LC_5_23_4, config_register_latched_dec_inst1.STATSR_59_LC_5_23_5, config_register_latched_dec_inst1.STATSR_60_LC_5_23_6, config_register_latched_dec_inst1.STATSR_58_LC_5_23_7 }
set_location LT_5_23 5 23
ble_pack config_register_latched_dec_inst1.STATSR_69_LC_5_24_0 { config_register_latched_dec_inst1.STATSR_69_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[69] }
ble_pack config_register_latched_dec_inst1.STATSR_67_LC_5_24_1 { config_register_latched_dec_inst1.STATSR_67_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[67] }
ble_pack config_register_latched_dec_inst1.STATSR_66_LC_5_24_2 { config_register_latched_dec_inst1.STATSR_66_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[66] }
ble_pack config_register_latched_dec_inst1.STATSR_71_LC_5_24_3 { config_register_latched_dec_inst1.STATSR_71_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[71] }
ble_pack config_register_latched_dec_inst1.STATSR_68_LC_5_24_4 { config_register_latched_dec_inst1.STATSR_68_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[68] }
ble_pack config_register_latched_dec_inst1.STATSR_70_LC_5_24_5 { config_register_latched_dec_inst1.STATSR_70_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[70] }
ble_pack config_register_latched_dec_inst1.STATSR_64_LC_5_24_6 { config_register_latched_dec_inst1.STATSR_64_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[64] }
ble_pack config_register_latched_dec_inst1.STATSR_65_LC_5_24_7 { config_register_latched_dec_inst1.STATSR_65_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[65] }
clb_pack LT_5_24 { config_register_latched_dec_inst1.STATSR_69_LC_5_24_0, config_register_latched_dec_inst1.STATSR_67_LC_5_24_1, config_register_latched_dec_inst1.STATSR_66_LC_5_24_2, config_register_latched_dec_inst1.STATSR_71_LC_5_24_3, config_register_latched_dec_inst1.STATSR_68_LC_5_24_4, config_register_latched_dec_inst1.STATSR_70_LC_5_24_5, config_register_latched_dec_inst1.STATSR_64_LC_5_24_6, config_register_latched_dec_inst1.STATSR_65_LC_5_24_7 }
set_location LT_5_24 5 24
ble_pack config_register_latched_dec_inst1.DYNSR_12_LC_6_13_0 { config_register_latched_dec_inst1.DYNSR_12_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[12] }
ble_pack config_register_latched_dec_inst1.DYNSR_11_LC_6_13_2 { config_register_latched_dec_inst1.DYNSR_11_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[11] }
ble_pack config_register_latched_dec_inst1.DYNSR_9_LC_6_13_3 { config_register_latched_dec_inst1.DYNSR_9_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[9] }
ble_pack config_register_latched_dec_inst1.DYNSR_10_LC_6_13_4 { config_register_latched_dec_inst1.DYNSR_10_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[10] }
ble_pack config_register_latched_dec_inst1.DYNSR_8_LC_6_13_6 { config_register_latched_dec_inst1.DYNSR_8_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[8] }
ble_pack config_register_latched_dec_inst1.DYNSR_7_LC_6_13_7 { config_register_latched_dec_inst1.DYNSR_7_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[7] }
clb_pack LT_6_13 { config_register_latched_dec_inst1.DYNSR_12_LC_6_13_0, config_register_latched_dec_inst1.DYNSR_11_LC_6_13_2, config_register_latched_dec_inst1.DYNSR_9_LC_6_13_3, config_register_latched_dec_inst1.DYNSR_10_LC_6_13_4, config_register_latched_dec_inst1.DYNSR_8_LC_6_13_6, config_register_latched_dec_inst1.DYNSR_7_LC_6_13_7 }
set_location LT_6_13 6 13
ble_pack config_register_latched_dec_inst1.DYNSR_RNIKTIN_12_LC_6_14_0 { config_register_latched_dec_inst1.DYNSR_RNIKTIN[12] }
ble_pack config_register_latched_dec_inst1.DYNSR_RNILUIN_13_LC_6_14_1 { config_register_latched_dec_inst1.DYNSR_RNILUIN[13] }
ble_pack config_register_latched_dec_inst1.DYNSR_13_LC_6_14_2 { config_register_latched_dec_inst1.DYNSR_13_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[13] }
ble_pack config_register_latched_dec_inst1.DYNSR_14_LC_6_14_3 { config_register_latched_dec_inst1.DYNSR_14_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[14] }
clb_pack LT_6_14 { config_register_latched_dec_inst1.DYNSR_RNIKTIN_12_LC_6_14_0, config_register_latched_dec_inst1.DYNSR_RNILUIN_13_LC_6_14_1, config_register_latched_dec_inst1.DYNSR_13_LC_6_14_2, config_register_latched_dec_inst1.DYNSR_14_LC_6_14_3 }
set_location LT_6_14 6 14
ble_pack config_register_latched_dec_inst1.STATSR_19_LC_6_21_0 { config_register_latched_dec_inst1.STATSR_19_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[19] }
ble_pack config_register_latched_dec_inst1.STATSR_20_LC_6_21_1 { config_register_latched_dec_inst1.STATSR_20_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[20] }
ble_pack config_register_latched_dec_inst1.STATSR_40_LC_6_21_2 { config_register_latched_dec_inst1.STATSR_40_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[40] }
ble_pack config_register_latched_dec_inst1.STATSR_18_LC_6_21_5 { config_register_latched_dec_inst1.STATSR_18_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[18] }
ble_pack config_register_latched_dec_inst1.STATSR_17_LC_6_21_6 { config_register_latched_dec_inst1.STATSR_17_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[17] }
ble_pack config_register_latched_dec_inst1.STATSR_21_LC_6_21_7 { config_register_latched_dec_inst1.STATSR_21_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[21] }
clb_pack LT_6_21 { config_register_latched_dec_inst1.STATSR_19_LC_6_21_0, config_register_latched_dec_inst1.STATSR_20_LC_6_21_1, config_register_latched_dec_inst1.STATSR_40_LC_6_21_2, config_register_latched_dec_inst1.STATSR_18_LC_6_21_5, config_register_latched_dec_inst1.STATSR_17_LC_6_21_6, config_register_latched_dec_inst1.STATSR_21_LC_6_21_7 }
set_location LT_6_21 6 21
ble_pack config_register_latched_dec_inst1.STATSR_38_LC_6_22_0 { config_register_latched_dec_inst1.STATSR_38_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[38] }
ble_pack config_register_latched_dec_inst1.STATSR_39_LC_6_22_1 { config_register_latched_dec_inst1.STATSR_39_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[39] }
ble_pack config_register_latched_dec_inst1.STATSR_37_LC_6_22_2 { config_register_latched_dec_inst1.STATSR_37_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[37] }
ble_pack config_register_latched_dec_inst1.STATSR_23_LC_6_22_3 { config_register_latched_dec_inst1.STATSR_23_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[23] }
ble_pack config_register_latched_dec_inst1.STATSR_22_LC_6_22_4 { config_register_latched_dec_inst1.STATSR_22_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[22] }
ble_pack config_register_latched_dec_inst1.STATSR_25_LC_6_22_5 { config_register_latched_dec_inst1.STATSR_25_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[25] }
ble_pack config_register_latched_dec_inst1.STATSR_24_LC_6_22_6 { config_register_latched_dec_inst1.STATSR_24_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[24] }
ble_pack config_register_latched_dec_inst1.STATSR_26_LC_6_22_7 { config_register_latched_dec_inst1.STATSR_26_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[26] }
clb_pack LT_6_22 { config_register_latched_dec_inst1.STATSR_38_LC_6_22_0, config_register_latched_dec_inst1.STATSR_39_LC_6_22_1, config_register_latched_dec_inst1.STATSR_37_LC_6_22_2, config_register_latched_dec_inst1.STATSR_23_LC_6_22_3, config_register_latched_dec_inst1.STATSR_22_LC_6_22_4, config_register_latched_dec_inst1.STATSR_25_LC_6_22_5, config_register_latched_dec_inst1.STATSR_24_LC_6_22_6, config_register_latched_dec_inst1.STATSR_26_LC_6_22_7 }
set_location LT_6_22 6 22
ble_pack config_register_latched_dec_inst1.STATSR_34_LC_6_23_0 { config_register_latched_dec_inst1.STATSR_34_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[34] }
ble_pack config_register_latched_dec_inst1.STATSR_36_LC_6_23_1 { config_register_latched_dec_inst1.STATSR_36_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[36] }
ble_pack config_register_latched_dec_inst1.STATSR_33_LC_6_23_2 { config_register_latched_dec_inst1.STATSR_33_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[33] }
ble_pack config_register_latched_dec_inst1.STATSR_35_LC_6_23_4 { config_register_latched_dec_inst1.STATSR_35_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[35] }
ble_pack config_register_latched_dec_inst1.STATSR_31_LC_6_23_5 { config_register_latched_dec_inst1.STATSR_31_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[31] }
ble_pack config_register_latched_dec_inst1.STATSR_32_LC_6_23_6 { config_register_latched_dec_inst1.STATSR_32_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[32] }
ble_pack config_register_latched_dec_inst1.STATSR_30_LC_6_23_7 { config_register_latched_dec_inst1.STATSR_30_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[30] }
clb_pack LT_6_23 { config_register_latched_dec_inst1.STATSR_34_LC_6_23_0, config_register_latched_dec_inst1.STATSR_36_LC_6_23_1, config_register_latched_dec_inst1.STATSR_33_LC_6_23_2, config_register_latched_dec_inst1.STATSR_35_LC_6_23_4, config_register_latched_dec_inst1.STATSR_31_LC_6_23_5, config_register_latched_dec_inst1.STATSR_32_LC_6_23_6, config_register_latched_dec_inst1.STATSR_30_LC_6_23_7 }
set_location LT_6_23 6 23
ble_pack config_register_latched_dec_inst1.STATSR_73_LC_6_24_1 { config_register_latched_dec_inst1.STATSR_73_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[73] }
ble_pack config_register_latched_dec_inst1.STATSR_75_LC_6_24_2 { config_register_latched_dec_inst1.STATSR_75_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[75] }
ble_pack config_register_latched_dec_inst1.STATSR_74_LC_6_24_3 { config_register_latched_dec_inst1.STATSR_74_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[74] }
ble_pack config_register_latched_dec_inst1.STATSR_77_LC_6_24_4 { config_register_latched_dec_inst1.STATSR_77_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[77] }
ble_pack config_register_latched_dec_inst1.STATSR_76_LC_6_24_5 { config_register_latched_dec_inst1.STATSR_76_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[76] }
ble_pack config_register_latched_dec_inst1.STATSR_72_LC_6_24_6 { config_register_latched_dec_inst1.STATSR_72_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[72] }
clb_pack LT_6_24 { config_register_latched_dec_inst1.STATSR_73_LC_6_24_1, config_register_latched_dec_inst1.STATSR_75_LC_6_24_2, config_register_latched_dec_inst1.STATSR_74_LC_6_24_3, config_register_latched_dec_inst1.STATSR_77_LC_6_24_4, config_register_latched_dec_inst1.STATSR_76_LC_6_24_5, config_register_latched_dec_inst1.STATSR_72_LC_6_24_6 }
set_location LT_6_24 6 24
ble_pack config_register_latched_dec_inst1.DYNSR_1_LC_7_13_0 { config_register_latched_dec_inst1.DYNSR_1_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[1] }
ble_pack config_register_latched_dec_inst1.DYNSR_2_LC_7_13_1 { config_register_latched_dec_inst1.DYNSR_2_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[2] }
ble_pack config_register_latched_dec_inst1.DYNSR_3_LC_7_13_2 { config_register_latched_dec_inst1.DYNSR_3_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[3] }
ble_pack config_register_latched_dec_inst1.DYNSR_4_LC_7_13_3 { config_register_latched_dec_inst1.DYNSR_4_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[4] }
ble_pack config_register_latched_dec_inst1.DYNSR_5_LC_7_13_4 { config_register_latched_dec_inst1.DYNSR_5_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[5] }
ble_pack config_register_latched_dec_inst1.DYNSR_6_LC_7_13_6 { config_register_latched_dec_inst1.DYNSR_6_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[6] }
clb_pack LT_7_13 { config_register_latched_dec_inst1.DYNSR_1_LC_7_13_0, config_register_latched_dec_inst1.DYNSR_2_LC_7_13_1, config_register_latched_dec_inst1.DYNSR_3_LC_7_13_2, config_register_latched_dec_inst1.DYNSR_4_LC_7_13_3, config_register_latched_dec_inst1.DYNSR_5_LC_7_13_4, config_register_latched_dec_inst1.DYNSR_6_LC_7_13_6 }
set_location LT_7_13 7 13
ble_pack SEL_ibuf_RNI96K9_0_LC_7_14_0 { SEL_ibuf_RNI96K9_0 }
ble_pack config_register_latched_dec_inst1.DYNSR_RNIN0JN_15_LC_7_14_1 { config_register_latched_dec_inst1.DYNSR_RNIN0JN[15] }
ble_pack config_register_latched_dec_inst1.DYNSR_15_LC_7_14_2 { config_register_latched_dec_inst1.DYNSR_15_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[15] }
ble_pack config_register_latched_dec_inst1.STATSR_RNI93TI_87_LC_7_14_3 { config_register_latched_dec_inst1.STATSR_RNI93TI[87] }
ble_pack config_register_latched_dec_inst1.DYNSR_0_LC_7_14_7 { config_register_latched_dec_inst1.DYNSR_0_THRU_LUT4_0, config_register_latched_dec_inst1.DYNSR[0] }
clb_pack LT_7_14 { SEL_ibuf_RNI96K9_0_LC_7_14_0, config_register_latched_dec_inst1.DYNSR_RNIN0JN_15_LC_7_14_1, config_register_latched_dec_inst1.DYNSR_15_LC_7_14_2, config_register_latched_dec_inst1.STATSR_RNI93TI_87_LC_7_14_3, config_register_latched_dec_inst1.DYNSR_0_LC_7_14_7 }
set_location LT_7_14 7 14
ble_pack config_register_latched_dec_inst1.STATSR_87_LC_7_19_1 { config_register_latched_dec_inst1.STATSR_87_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[87] }
clb_pack LT_7_19 { config_register_latched_dec_inst1.STATSR_87_LC_7_19_1 }
set_location LT_7_19 7 19
ble_pack config_register_latched_dec_inst1.STATSR_86_LC_7_20_7 { config_register_latched_dec_inst1.STATSR_86_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[86] }
clb_pack LT_7_20 { config_register_latched_dec_inst1.STATSR_86_LC_7_20_7 }
set_location LT_7_20 7 20
ble_pack config_register_latched_dec_inst1.STATSR_11_LC_7_21_1 { config_register_latched_dec_inst1.STATSR_11_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[11] }
ble_pack config_register_latched_dec_inst1.STATSR_12_LC_7_21_2 { config_register_latched_dec_inst1.STATSR_12_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[12] }
ble_pack config_register_latched_dec_inst1.STATSR_13_LC_7_21_3 { config_register_latched_dec_inst1.STATSR_13_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[13] }
ble_pack config_register_latched_dec_inst1.STATSR_14_LC_7_21_4 { config_register_latched_dec_inst1.STATSR_14_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[14] }
ble_pack config_register_latched_dec_inst1.STATSR_15_LC_7_21_5 { config_register_latched_dec_inst1.STATSR_15_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[15] }
ble_pack config_register_latched_dec_inst1.STATSR_85_LC_7_21_6 { config_register_latched_dec_inst1.STATSR_85_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[85] }
ble_pack config_register_latched_dec_inst1.STATSR_16_LC_7_21_7 { config_register_latched_dec_inst1.STATSR_16_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[16] }
clb_pack LT_7_21 { config_register_latched_dec_inst1.STATSR_11_LC_7_21_1, config_register_latched_dec_inst1.STATSR_12_LC_7_21_2, config_register_latched_dec_inst1.STATSR_13_LC_7_21_3, config_register_latched_dec_inst1.STATSR_14_LC_7_21_4, config_register_latched_dec_inst1.STATSR_15_LC_7_21_5, config_register_latched_dec_inst1.STATSR_85_LC_7_21_6, config_register_latched_dec_inst1.STATSR_16_LC_7_21_7 }
set_location LT_7_21 7 21
ble_pack config_register_latched_dec_inst1.STATSR_29_LC_7_22_0 { config_register_latched_dec_inst1.STATSR_29_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[29] }
ble_pack config_register_latched_dec_inst1.STATSR_10_LC_7_22_1 { config_register_latched_dec_inst1.STATSR_10_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[10] }
ble_pack config_register_latched_dec_inst1.STATSR_27_LC_7_22_2 { config_register_latched_dec_inst1.STATSR_27_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[27] }
ble_pack config_register_latched_dec_inst1.STATSR_8_LC_7_22_3 { config_register_latched_dec_inst1.STATSR_8_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[8] }
ble_pack config_register_latched_dec_inst1.STATSR_9_LC_7_22_4 { config_register_latched_dec_inst1.STATSR_9_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[9] }
ble_pack config_register_latched_dec_inst1.STATSR_84_LC_7_22_5 { config_register_latched_dec_inst1.STATSR_84_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[84] }
ble_pack config_register_latched_dec_inst1.STATSR_28_LC_7_22_6 { config_register_latched_dec_inst1.STATSR_28_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[28] }
ble_pack config_register_latched_dec_inst1.STATSR_7_LC_7_22_7 { config_register_latched_dec_inst1.STATSR_7_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[7] }
clb_pack LT_7_22 { config_register_latched_dec_inst1.STATSR_29_LC_7_22_0, config_register_latched_dec_inst1.STATSR_10_LC_7_22_1, config_register_latched_dec_inst1.STATSR_27_LC_7_22_2, config_register_latched_dec_inst1.STATSR_8_LC_7_22_3, config_register_latched_dec_inst1.STATSR_9_LC_7_22_4, config_register_latched_dec_inst1.STATSR_84_LC_7_22_5, config_register_latched_dec_inst1.STATSR_28_LC_7_22_6, config_register_latched_dec_inst1.STATSR_7_LC_7_22_7 }
set_location LT_7_22 7 22
ble_pack config_register_latched_dec_inst1.STATSR_83_LC_7_23_0 { config_register_latched_dec_inst1.STATSR_83_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[83] }
ble_pack config_register_latched_dec_inst1.STATSR_1_LC_7_23_1 { config_register_latched_dec_inst1.STATSR_1_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[1] }
ble_pack config_register_latched_dec_inst1.STATSR_4_LC_7_23_2 { config_register_latched_dec_inst1.STATSR_4_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[4] }
ble_pack config_register_latched_dec_inst1.STATSR_6_LC_7_23_3 { config_register_latched_dec_inst1.STATSR_6_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[6] }
ble_pack config_register_latched_dec_inst1.STATSR_2_LC_7_23_4 { config_register_latched_dec_inst1.STATSR_2_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[2] }
ble_pack config_register_latched_dec_inst1.STATSR_3_LC_7_23_5 { config_register_latched_dec_inst1.STATSR_3_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[3] }
ble_pack config_register_latched_dec_inst1.STATSR_0_LC_7_23_6 { config_register_latched_dec_inst1.STATSR_0_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[0] }
ble_pack config_register_latched_dec_inst1.STATSR_5_LC_7_23_7 { config_register_latched_dec_inst1.STATSR_5_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[5] }
clb_pack LT_7_23 { config_register_latched_dec_inst1.STATSR_83_LC_7_23_0, config_register_latched_dec_inst1.STATSR_1_LC_7_23_1, config_register_latched_dec_inst1.STATSR_4_LC_7_23_2, config_register_latched_dec_inst1.STATSR_6_LC_7_23_3, config_register_latched_dec_inst1.STATSR_2_LC_7_23_4, config_register_latched_dec_inst1.STATSR_3_LC_7_23_5, config_register_latched_dec_inst1.STATSR_0_LC_7_23_6, config_register_latched_dec_inst1.STATSR_5_LC_7_23_7 }
set_location LT_7_23 7 23
ble_pack config_register_latched_dec_inst1.STATSR_82_LC_7_24_0 { config_register_latched_dec_inst1.STATSR_82_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[82] }
ble_pack config_register_latched_dec_inst1.STATSR_78_LC_7_24_4 { config_register_latched_dec_inst1.STATSR_78_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[78] }
ble_pack config_register_latched_dec_inst1.STATSR_79_LC_7_24_5 { config_register_latched_dec_inst1.STATSR_79_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[79] }
ble_pack config_register_latched_dec_inst1.STATSR_80_LC_7_24_6 { config_register_latched_dec_inst1.STATSR_80_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[80] }
ble_pack config_register_latched_dec_inst1.STATSR_81_LC_7_24_7 { config_register_latched_dec_inst1.STATSR_81_THRU_LUT4_0, config_register_latched_dec_inst1.STATSR[81] }
clb_pack LT_7_24 { config_register_latched_dec_inst1.STATSR_82_LC_7_24_0, config_register_latched_dec_inst1.STATSR_78_LC_7_24_4, config_register_latched_dec_inst1.STATSR_79_LC_7_24_5, config_register_latched_dec_inst1.STATSR_80_LC_7_24_6, config_register_latched_dec_inst1.STATSR_81_LC_7_24_7 }
set_location LT_7_24 7 24
ble_pack RST_N_ibuf_RNIBJGC_LC_17_31_1 { RST_N_ibuf_RNIBJGC }
clb_pack LT_17_31 { RST_N_ibuf_RNIBJGC_LC_17_31_1 }
set_location LT_17_31 17 31
set_location CLK_uC_ibuf_gb_io_gb 16 33
set_location RST_N_ibuf_RNIBJGC_0 0 16
set_location SEL_ibuf_RNI96K9_1 0 17
set_io s15 C2
set_io SDO_signal_out H9
set_io s14 D2
set_io s12 H1
set_io SDI A8
set_io s13 E2
set_io SEL A9
set_io RST_N A7
set_io CLK_uC A6
