set_location config_register_latched_dec_inst1.STATSR_9_THRU_LUT4_0 7 22 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_87_THRU_LUT4_0 7 19 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_86_THRU_LUT4_0 7 20 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_85_THRU_LUT4_0 7 21 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_84_THRU_LUT4_0 7 22 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_83_THRU_LUT4_0 7 23 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_82_THRU_LUT4_0 7 24 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_81_THRU_LUT4_0 7 24 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_80_THRU_LUT4_0 7 24 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_8_THRU_LUT4_0 7 22 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_79_THRU_LUT4_0 7 24 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_78_THRU_LUT4_0 7 24 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_77_THRU_LUT4_0 6 24 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_76_THRU_LUT4_0 6 24 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_75_THRU_LUT4_0 6 24 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_74_THRU_LUT4_0 6 24 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_73_THRU_LUT4_0 6 24 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_72_THRU_LUT4_0 6 24 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_71_THRU_LUT4_0 5 24 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_70_THRU_LUT4_0 5 24 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_7_THRU_LUT4_0 7 22 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_69_THRU_LUT4_0 5 24 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_68_THRU_LUT4_0 5 24 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_67_THRU_LUT4_0 5 24 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_66_THRU_LUT4_0 5 24 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_65_THRU_LUT4_0 5 24 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_64_THRU_LUT4_0 5 24 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_63_THRU_LUT4_0 5 23 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_62_THRU_LUT4_0 5 23 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_61_THRU_LUT4_0 5 23 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_60_THRU_LUT4_0 5 23 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_6_THRU_LUT4_0 7 23 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_59_THRU_LUT4_0 5 23 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_58_THRU_LUT4_0 5 23 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_57_THRU_LUT4_0 5 23 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_56_THRU_LUT4_0 5 23 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_55_THRU_LUT4_0 5 22 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_54_THRU_LUT4_0 5 22 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_53_THRU_LUT4_0 5 22 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_52_THRU_LUT4_0 5 22 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_51_THRU_LUT4_0 5 22 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_50_THRU_LUT4_0 5 22 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_5_THRU_LUT4_0 7 23 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_49_THRU_LUT4_0 5 22 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_48_THRU_LUT4_0 5 22 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_47_THRU_LUT4_0 5 21 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_46_THRU_LUT4_0 5 21 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_45_THRU_LUT4_0 5 21 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_44_THRU_LUT4_0 5 21 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_43_THRU_LUT4_0 5 21 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_42_THRU_LUT4_0 5 21 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_41_THRU_LUT4_0 5 21 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_40_THRU_LUT4_0 6 21 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_4_THRU_LUT4_0 7 23 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_39_THRU_LUT4_0 6 22 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_38_THRU_LUT4_0 6 22 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_37_THRU_LUT4_0 6 22 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_36_THRU_LUT4_0 6 23 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_35_THRU_LUT4_0 6 23 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_34_THRU_LUT4_0 6 23 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_33_THRU_LUT4_0 6 23 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_32_THRU_LUT4_0 6 23 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_31_THRU_LUT4_0 6 23 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_30_THRU_LUT4_0 6 23 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_3_THRU_LUT4_0 7 23 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_29_THRU_LUT4_0 7 22 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_28_THRU_LUT4_0 7 22 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_27_THRU_LUT4_0 7 22 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_26_THRU_LUT4_0 6 22 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_25_THRU_LUT4_0 6 22 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_24_THRU_LUT4_0 6 22 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_23_THRU_LUT4_0 6 22 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_22_THRU_LUT4_0 6 22 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_21_THRU_LUT4_0 6 21 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_20_THRU_LUT4_0 6 21 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_2_THRU_LUT4_0 7 23 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_19_THRU_LUT4_0 6 21 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_18_THRU_LUT4_0 6 21 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_17_THRU_LUT4_0 6 21 6 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_16_THRU_LUT4_0 7 21 7 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_15_THRU_LUT4_0 7 21 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_14_THRU_LUT4_0 7 21 4 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_13_THRU_LUT4_0 7 21 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_12_THRU_LUT4_0 7 21 2 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_11_THRU_LUT4_0 7 21 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_10_THRU_LUT4_0 7 22 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_1_THRU_LUT4_0 7 23 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR_0_THRU_LUT4_0 7 23 6 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_9_THRU_LUT4_0 6 13 3 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_8_THRU_LUT4_0 6 13 6 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_7_THRU_LUT4_0 6 13 7 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_6_THRU_LUT4_0 7 13 6 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_5_THRU_LUT4_0 7 13 4 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_4_THRU_LUT4_0 7 13 3 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_3_THRU_LUT4_0 7 13 2 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_2_THRU_LUT4_0 7 13 1 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_15_THRU_LUT4_0 7 14 2 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_14_THRU_LUT4_0 6 14 3 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_13_THRU_LUT4_0 6 14 2 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_12_THRU_LUT4_0 6 13 0 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_11_THRU_LUT4_0 6 13 2 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_10_THRU_LUT4_0 6 13 4 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_1_THRU_LUT4_0 7 13 0 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR_0_THRU_LUT4_0 7 14 7 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR[14] 6 14 3 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[86] 7 20 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[75] 6 24 2 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[14] 7 21 4 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR_RNIKTIN[12] 6 14 0 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR[7] 6 13 7 #SB_DFFER
set_location SEL_ibuf_RNI96K9 1 14 5 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR[3] 7 23 5 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[64] 5 24 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[57] 5 23 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[45] 5 21 3 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[32] 6 23 6 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR[9] 6 13 3 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[72] 6 24 6 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[39] 6 22 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[19] 6 21 0 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR_RNILUIN[13] 6 14 1 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR[0] 7 14 7 #SB_DFFER
set_location SEL_ibuf_RNI96K9_0 7 14 0 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR[6] 7 23 3 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[27] 7 22 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[10] 7 22 1 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[50] 5 22 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[48] 5 22 1 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[37] 6 22 2 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[28] 7 22 6 #SB_DFFER
set_location RST_N_ibuf_RNIBJGC 17 31 1 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR[41] 5 21 2 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR[13] 6 14 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[81] 7 24 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[76] 6 24 5 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[15] 7 21 5 #SB_DFFES
set_location config_register_latched_dec_inst1.DYNSR[4] 7 13 3 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[23] 6 22 3 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[2] 7 23 4 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[63] 5 23 3 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[54] 5 22 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[44] 5 21 4 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[33] 6 23 2 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[73] 6 24 1 #SB_DFFES
set_location config_register_latched_dec_inst1.DYNSR_RNIN0JN[15] 7 14 1 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR[1] 7 13 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[9] 7 22 4 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[85] 7 21 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[26] 6 22 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[11] 7 21 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[51] 5 22 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[78] 7 24 4 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[67] 5 24 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[58] 5 23 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[40] 6 21 2 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR[12] 6 13 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[80] 7 24 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[77] 6 24 4 #SB_DFFES
set_location config_register_latched_dec_inst1.DYNSR[5] 7 13 4 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR_RNI93TI[87] 7 14 3 #SB_LUT4
set_location config_register_latched_dec_inst1.STATSR[69] 5 24 0 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[5] 7 23 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[22] 6 22 4 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[62] 5 23 4 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[55] 5 22 5 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[47] 5 21 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[34] 6 23 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[84] 7 22 5 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[8] 7 22 3 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[25] 6 22 5 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[16] 7 21 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[1] 7 23 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[79] 7 24 5 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[66] 5 24 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[59] 5 23 5 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[43] 5 21 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[30] 6 23 7 #SB_DFFES
set_location config_register_latched_dec_inst1.DYNSR[11] 6 13 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[83] 7 23 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[70] 5 24 5 #SB_DFFES
set_location config_register_latched_dec_inst1.DYNSR[2] 7 13 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[68] 5 24 4 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[4] 7 23 2 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[21] 6 21 7 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[12] 7 21 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[61] 5 23 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[52] 5 22 3 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[46] 5 21 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[35] 6 23 4 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR[15] 7 14 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[87] 7 19 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[74] 6 24 3 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[24] 6 22 6 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[17] 6 21 6 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR[6] 7 13 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[0] 7 23 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[65] 5 24 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[56] 5 23 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[42] 5 21 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[31] 6 23 5 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR_RNIMVIN[14] 5 14 4 #SB_LUT4
set_location config_register_latched_dec_inst1.DYNSR[8] 6 13 6 #SB_DFFER
set_location config_register_latched_dec_inst1.DYNSR[10] 6 13 4 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[82] 7 24 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[71] 5 24 3 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[38] 6 22 0 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[18] 6 21 5 #SB_DFFER
set_location GND -1 -1 -1 #GND
set_location config_register_latched_dec_inst1.DYNSR[3] 7 13 2 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[7] 7 22 7 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[20] 6 21 1 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[13] 7 21 3 #SB_DFFES
set_location config_register_latched_dec_inst1.STATSR[60] 5 23 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[53] 5 22 4 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[49] 5 22 6 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[36] 6 23 1 #SB_DFFER
set_location config_register_latched_dec_inst1.STATSR[29] 7 22 0 #SB_DFFER
set_io s15 C2
set_io SDO_signal_out H9
set_io s14 D2
set_io s12 H1
set_io SDI A8
set_io s13 E2
set_io SEL A9
set_io RST_N A7
set_io CLK_uC A6
