set_location receptor_inst1.signal_out_THRU_LUT4_0 1 11 1 #SB_LUT4
set_location SELDYN_ibuf_RNIKHL3_generator_inst1.REGDYN_0_REP_LUT4_0 1 9 7 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[62] 3 15 3 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[51] 2 16 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[2] 2 13 0 #SB_LUT4
set_location generator_inst1.REGSTAT[40] 1 16 1 #SB_DFFER
set_location generator_inst1.REGDYN_RNO[9] 1 10 6 #SB_LUT4
set_location generator_inst1.REGDYN_RNO[15] 1 10 5 #SB_LUT4
set_location generator_inst1.REGDYN[12] 1 10 2 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[76] 3 13 0 #SB_LUT4
set_location generator_inst1.REGSTAT[67] 3 14 4 #SB_DFFER
set_location generator_inst1.REGSTAT[29] 2 15 3 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[27] 2 15 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[7] 1 13 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[44] 1 16 2 #SB_LUT4
set_location generator_inst1.REGSTAT[45] 1 16 6 #SB_DFFES
set_location generator_inst1.REGSTAT[73] 3 14 3 #SB_DFFER
set_location generator_inst1.REGSTAT[26] 2 15 4 #SB_DFFER
set_location generator_inst1.REGSTAT[55] 3 16 1 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[68] 3 14 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[41] 1 16 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[10] 1 13 0 #SB_LUT4
set_location generator_inst1.REGDYN_RNO[3] 1 9 2 #SB_LUT4
set_location generator_inst1.REGDYN[7] 1 9 3 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[36] 1 15 4 #SB_LUT4
set_location generator_inst1.REGSTAT[76] 3 13 0 #SB_DFFES
set_location generator_inst1.REGSTAT[7] 1 13 1 #SB_DFFER
set_location generator_inst1.REGSTAT[23] 2 14 2 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[59] 3 16 3 #SB_LUT4
set_location generator_inst1.REGSTAT[50] 2 16 7 #SB_DFFER
set_location generator_inst1.REGSTAT[48] 2 16 6 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[82] 2 12 1 #SB_LUT4
set_location generator_inst1.REGSTAT[37] 1 15 2 #SB_DFFER
set_location generator_inst1.REGSTAT[10] 1 13 0 #SB_DFFES
set_location generator_inst1.REGDYN_RNO[6] 1 9 5 #SB_LUT4
set_location generator_inst1.REGDYN[2] 1 9 0 #SB_DFFES
set_location generator_inst1.REGSTAT[85] 1 12 7 #SB_DFFER
set_location generator_inst1.REGSTAT[79] 2 12 3 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[67] 3 14 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[54] 3 16 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[87] 1 12 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[75] 3 13 4 #SB_LUT4
set_location generator_inst1.REGSTAT[64] 3 15 0 #SB_DFFER
set_location generator_inst1.REGSTAT[32] 1 15 0 #SB_DFFER
set_location generator_inst1.REGSTAT[17] 1 14 7 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[20] 2 14 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[60] 3 15 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[49] 2 16 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[0] 2 14 3 #SB_LUT4
set_location generator_inst1.REGSTAT[46] 2 16 4 #SB_DFFER
set_location receptor_inst1.signal_out 1 11 1 #SB_DFFR
set_location generator_inst1.REGSTAT[69] 3 14 6 #SB_DFFER
set_location generator_inst1.REGDYN[8] 1 10 7 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[25] 2 14 0 #SB_LUT4
set_location generator_inst1.REGSTAT[58] 3 16 2 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[5] 2 13 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[46] 2 16 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[13] 1 14 3 #SB_LUT4
set_location generator_inst1.REGSTAT[18] 1 14 4 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[35] 1 15 3 #SB_LUT4
set_location generator_inst1.REGSTAT[71] 3 14 2 #SB_DFFER
set_location generator_inst1.REGSTAT[4] 2 13 7 #SB_DFFER
set_location generator_inst1.REGSTAT[20] 2 14 4 #SB_DFFER
set_location generator_inst1.REGSTAT[57] 3 16 0 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[43] 1 16 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[16] 1 14 6 #SB_LUT4
set_location generator_inst1.REGDYN_RNO[5] 1 9 4 #SB_LUT4
set_location generator_inst1.REGDYN[5] 1 9 4 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[30] 2 15 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[28] 2 15 2 #SB_LUT4
set_location generator_inst1.REGSTAT[86] 1 12 0 #SB_DFFER
set_location generator_inst1.REGSTAT[74] 3 13 7 #SB_DFFES
set_location generator_inst1.REGSTAT[1] 2 14 7 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[8] 1 13 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[57] 3 16 0 #SB_LUT4
set_location generator_inst1.REGSTAT[52] 2 16 3 #SB_DFFES
set_location generator_inst1.REGDYN_RNO[13] 1 10 3 #SB_LUT4
set_location generator_inst1.REGDYN[14] 1 10 4 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[84] 1 12 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[70] 3 14 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[19] 1 14 0 #SB_LUT4
set_location generator_inst1.REGSTAT[61] 3 15 4 #SB_DFFES
set_location generator_inst1.REGSTAT[35] 1 15 3 #SB_DFFES
set_location generator_inst1.REGSTAT[12] 1 14 1 #SB_DFFER
set_location generator_inst1.REGDYN[0] 1 9 7 #SB_DFFES
set_location generator_inst1.REGSTAT[83] 2 12 4 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[65] 3 15 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[52] 2 16 3 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[34] 1 15 1 #SB_LUT4
set_location generator_inst1.REGSTAT[70] 3 14 5 #SB_DFFES
set_location generator_inst1.REGSTAT[5] 2 13 2 #SB_DFFES
set_location generator_inst1.REGSTAT[43] 1 16 5 #SB_DFFES
set_location generator_inst1.REGSTAT[21] 2 14 6 #SB_DFFES
set_location generator_inst1.REGDYN_RNO[14] 1 10 4 #SB_LUT4
set_location generator_inst1.REGDYN[11] 1 10 0 #SB_DFFES
set_location generator_inst1.REGDYN8_i 1 11 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[77] 3 13 1 #SB_LUT4
set_location generator_inst1.REGSTAT[66] 3 15 5 #SB_DFFES
set_location generator_inst1.REGSTAT[56] 3 16 7 #SB_DFFER
set_location generator_inst1.REGSTAT[30] 2 15 0 #SB_DFFES
set_location generator_inst1.REGSTAT[28] 2 15 2 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[80] 2 12 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[26] 2 15 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[15] 1 14 5 #SB_LUT4
set_location generator_inst1.REGSTAT[39] 1 15 5 #SB_DFFES
set_location generator_inst1.REGDYN_RNO[4] 1 9 6 #SB_LUT4
set_location generator_inst1.REGDYN[4] 1 9 6 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[6] 1 13 3 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[33] 1 15 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[29] 2 15 3 #SB_LUT4
set_location generator_inst1.REGSTAT[87] 1 12 1 #SB_DFFER
set_location generator_inst1.REGSTAT[44] 1 16 2 #SB_DFFES
set_location generator_inst1.REGSTAT[2] 2 13 0 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[9] 1 13 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[56] 3 16 7 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[38] 1 15 7 #SB_LUT4
set_location generator_inst1.REGSTAT[9] 1 13 2 #SB_DFFER
set_location generator_inst1.REGSTAT[25] 2 14 0 #SB_DFFER
set_location generator_inst1.REGDYN_RNO[10] 1 10 1 #SB_LUT4
set_location generator_inst1.REGDYN[15] 1 10 5 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[85] 1 12 7 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[73] 3 14 3 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[18] 1 14 4 #SB_LUT4
set_location generator_inst1.REGSTAT[62] 3 15 3 #SB_DFFES
set_location generator_inst1.REGSTAT[34] 1 15 1 #SB_DFFES
set_location generator_inst1.REGSTAT[15] 1 14 5 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[78] 3 13 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[40] 1 16 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[22] 2 14 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[11] 1 13 7 #SB_LUT4
set_location generator_inst1.REGSTAT[80] 2 12 0 #SB_DFFER
set_location RST_N_ibuf_RNIBJGC 1 18 5 #SB_LUT4
set_location generator_inst1.signal_out 1 11 0 #SB_DFFR
set_location generator_inst1.REGSTAT_RNO[37] 1 15 2 #SB_LUT4
set_location generator_inst1.REGSTAT[77] 3 13 1 #SB_DFFES
set_location generator_inst1.REGSTAT[6] 1 13 3 #SB_DFFES
set_location generator_inst1.REGSTAT[22] 2 14 5 #SB_DFFER
set_location generator_inst1.REGSTAT[51] 2 16 0 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[81] 2 12 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[14] 1 14 2 #SB_LUT4
set_location generator_inst1.REGSTAT[38] 1 15 7 #SB_DFFES
set_location generator_inst1.REGSTAT[11] 1 13 7 #SB_DFFER
set_location generator_inst1.REGDYN_RNO[7] 1 9 3 #SB_LUT4
set_location generator_inst1.REGDYN[3] 1 9 2 #SB_DFFES
set_location GND -1 -1 -1 #GND
set_location generator_inst1.REGSTAT_RNO[32] 1 15 0 #SB_LUT4
set_location generator_inst1.REGSTAT[84] 1 12 5 #SB_DFFES
set_location generator_inst1.REGSTAT[3] 2 13 5 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[66] 3 15 5 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[55] 3 16 1 #SB_LUT4
set_location generator_inst1.REGDYN_RNO[11] 1 10 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[86] 1 12 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[72] 3 14 7 #SB_LUT4
set_location generator_inst1.REGSTAT[63] 3 15 2 #SB_DFFER
set_location generator_inst1.REGSTAT[33] 1 15 6 #SB_DFFES
set_location generator_inst1.REGSTAT[14] 1 14 2 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[23] 2 14 2 #SB_LUT4
set_location generator_inst1.REGSTAT[81] 2 12 2 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[63] 3 15 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[50] 2 16 7 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[48] 2 16 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[3] 2 13 5 #SB_LUT4
set_location generator_inst1.REGSTAT[41] 1 16 0 #SB_DFFER
set_location generator_inst1.REGDYN_RNO[8] 1 10 7 #SB_LUT4
set_location generator_inst1.REGDYN[13] 1 10 3 #SB_DFFES
set_location generator_inst1.REGSTAT[68] 3 14 1 #SB_DFFES
set_location generator_inst1.REGDYN[9] 1 10 6 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[24] 2 14 1 #SB_LUT4
set_location generator_inst1.REGSTAT[59] 3 16 3 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[45] 1 16 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[4] 2 13 7 #SB_LUT4
set_location generator_inst1.REGSTAT[19] 1 14 0 #SB_DFFER
set_location generator_inst1.REGSTAT[72] 3 14 7 #SB_DFFER
set_location generator_inst1.REGSTAT[27] 2 15 1 #SB_DFFER
set_location generator_inst1.REGSTAT[54] 3 16 6 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[69] 3 14 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[42] 1 16 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[17] 1 14 7 #SB_LUT4
set_location generator_inst1.REGDYN_RNO[2] 1 9 0 #SB_LUT4
set_location generator_inst1.REGDYN[6] 1 9 5 #SB_DFFES
set_location generator_inst1.signal_out_RNO 1 11 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[31] 2 15 5 #SB_LUT4
set_location generator_inst1.REGSTAT[75] 3 13 4 #SB_DFFER
set_location generator_inst1.REGSTAT[0] 2 14 3 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[58] 3 16 2 #SB_LUT4
set_location generator_inst1.REGSTAT[53] 2 16 2 #SB_DFFER
set_location generator_inst1.REGSTAT[49] 2 16 5 #SB_DFFES
set_location generator_inst1.REGDYN_RNO[12] 1 10 2 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[83] 2 12 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[71] 3 14 2 #SB_LUT4
set_location generator_inst1.REGSTAT[60] 3 15 1 #SB_DFFES
set_location generator_inst1.REGSTAT[36] 1 15 4 #SB_DFFES
set_location generator_inst1.REGSTAT[13] 1 14 3 #SB_DFFER
set_location generator_inst1.REGDYN[1] 1 9 1 #SB_DFFER
set_location SELDYN_ibuf_RNIKHL3 1 17 3 #SB_LUT4
set_location generator_inst1.REGSTAT[82] 2 12 1 #SB_DFFER
set_location generator_inst1.REGSTAT[78] 3 13 2 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[64] 3 15 0 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[53] 2 16 2 #SB_LUT4
set_location generator_inst1.REGSTAT[42] 1 16 4 #SB_DFFES
set_location generator_inst1.REGDYN[10] 1 10 1 #SB_DFFER
set_location generator_inst1.REGSTAT_RNO[74] 3 13 7 #SB_LUT4
set_location generator_inst1.REGSTAT[65] 3 15 6 #SB_DFFES
set_location generator_inst1.REGSTAT[31] 2 15 5 #SB_DFFES
set_location generator_inst1.REGSTAT[16] 1 14 6 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[21] 2 14 6 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[61] 3 15 4 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[1] 2 14 7 #SB_LUT4
set_location generator_inst1.REGSTAT[47] 2 16 1 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[39] 1 15 5 #SB_LUT4
set_location generator_inst1.REGSTAT[8] 1 13 5 #SB_DFFES
set_location generator_inst1.REGSTAT[24] 2 14 1 #SB_DFFES
set_location generator_inst1.REGSTAT_RNO[79] 2 12 3 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[47] 2 16 1 #SB_LUT4
set_location generator_inst1.REGSTAT_RNO[12] 1 14 1 #SB_LUT4
set_location generator_inst1.REGDYN_RNO[1] 1 9 1 #SB_LUT4
set_io signal_out G2
set_io CLK D3
set_io SELSTAT E4
set_io SELDYN H2
set_io RST_N C3
